@media (min-width: 768px) {
.about-kv  > figcaption {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  margin-top: 3.8%;
  margin-right: -6.2%;
  width: 21.5254237%;
  height: 80%;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}
.about-kv-logo {
  width: 100px;
}

body.about {
  position: relative;
}
.about-aside-deco {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 45px;
  width: 1px;
  background-color: rgba(0,0,0,0.5);
}
.about-aside-deco-point {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  margin-left: -4.5px;
  border-radius: 50%;
  background-color: #B3292C;

  &:nth-child(1) {
    margin-top: 48vw;
  }
  &:nth-child(2) {
    margin-top: 53vw;
  }
  &:nth-child(3) {
    margin-top: 80vw;
  }
  &:nth-child(4) {
    margin-top: 95vw;
  }
  &:nth-child(5) {
    margin-top: 105vw;
  }
  &:nth-child(6) {
    margin-top: 148vw;
  }
  &:nth-child(7) {
    margin-top: 210vw;
  }
  &:nth-child(8) {
    margin-top: 230vw;
  }
}

.__about__bg-targets {
  background: url(../public/about/targets.svg) no-repeat left top 11.9375rem/62.9375rem auto;
}

.__about__image-logo-n-building-wrapper {
  padding-top: 8.5%;
}
.__about__image-logo-n-building {
}

/* culture */
$__about__culture-brick-size: 165px;
.__about__culture-main {
  height: $__about__culture-brick-size * $__about__culture-mosaic-rows;
}
.__about__culture-mosaic {
  width: $__about__culture-brick-size * $__about__culture-mosaic-cols;
}
.__about__culture-brick {
  width: $__about__culture-brick-size;
  height: $__about__culture-brick-size;
}
.__about__culture-brick-text {
  padding-bottom: .1em;
  padding-left: .5em;
  letter-spacing: .5em;
  line-height: 1.625em;

  font-size: 1.5rem;
}
}
