.about-kv {
  position: relative;

  & > figcaption {
    position: absolute;
    top: 100%;
    right: 0;
    margin: -5% 10% 0;
    width: 80%;
    height: 80%;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  }
}
.about-kv-logo {
  width: 60px;
}

.__about__bg-targets {
  min-height: calc(39.3125rem + 11.9375rem);
  background: url(images/__about__bg-targets.svg) no-repeat left -12rem top 14rem/60rem auto;
}

.__about__image-logo-n-building-wrapper {
  position: relative;
  padding-top: 8.5%;

  & > * {
    z-index: 1;
  }
}
.__about__image-logo-n-building {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
}

/* culture */
$__about__culture-brick-size: 25vw;
$__about__culture-mosaic-rows: 3;
$__about__culture-mosaic-cols: 4;

.__about__culture-main {
}
.__about__culture-mosaic {
  display: flex;
  flex-wrap: wrap;
  width: $__about__culture-brick-size * $__about__culture-mosaic-cols;
}
.__about__culture-brick {
  width: calc(25vw - .5rem);
  height: calc(25vw - .5rem);

  color: white;
  background: url(images/brick-texture.svg) no-repeat center/cover;

  $brick-light: #E8E1D9;
  $brick-dark: #383838;
  $brick-colors: $brick-dark, #A1C45A, $brick-light, #ECD662, $brick-light, #ECD662, $brick-dark, #A0937D, $brick-dark, #A0937D, #5FAACE, $brick-light;

  @for $i from 1 through length($brick-colors) {
    &:nth-child(#{length($brick-colors)}n+#{$i}) {
      background-color: nth($brick-colors, $i);
    }
  }
}
.__about__culture-brick-text {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: .08em;
  padding-left: .25em;
  letter-spacing: .25em;
  line-height: 1.3em;

  font-size: 5vw;
  font-weight: 400;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
