.activity-framing-x {
  margin: 0 auto;
  width: 100%;
}
.activity-framing-t,
.activity-framing-y {
  padding-top: 40px;
}
.activity-framing-b,
.activity-framing-y {
  padding-bottom: 3.625rem;
}
.activity-indent-x {
  padding-left: 5.5vw;
  padding-right: 5.5vw;
}

.activityNavbar-light {
  background-color: rgba(255,255,255,0.96);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);

  .activity-nav-link, .activity-nav-link-secondary {
    opacity: 0.76;

    &:hover, &.hover, &:active, &.active {
      opacity: 1;
    }
  }

  .activity-nav-link {
    color: #241E20;

    &:hover, &.hover, &:active, &.active {
      color: #241E20;
    }

    &.current {
      &::before, &::after {
        content: ' / ';
        width: 1em;
        display: inline-block;
      }

      &::before {
        text-align: right;
        margin-left: -1em;
        padding-right: .25rem;
      }

      &::after {
        text-align: left;
        margin-right: -1em;
        padding-left: .25rem;
      }
    }
  }
  .activity-nav-link-secondary {
    color: #5D5C61;
    &:hover, &.hover, &:active, &.active {
      color: #5D5C61;
    }
  }
  .activity-nav-icon.white {
    display: none;
  }
  .activity-nav-icon.black {
    display: block;
  }
}
.activityNavbar-dark {
  background-color: rgba(0, 0, 0, .25);
  background-color: #303136;
}
.activityNavbar-red {
  background: linear-gradient(89.91deg, #9C3734 0.08%, #9C3734 41.19%, #B3292C 100%);;
}
.activityNavbar-dark, .activityNavbar-red {
  .activity-nav-link {
    color: #fff;
    opacity: 0.8;

    &:hover, &.hover, &:active, &.active, &:visited, &.visited {
      color: #fff;
    }
  }
  .activity-nav-link-secondary {
    color: #fff;
    opacity: 0.75;

    &:hover, &.hover, &:active, &.active, &:visited, &.visited {
      color: #fff;
    }
  }
  .activity-nav-link, .activity-nav-link-secondary {
    &:hover, &.hover {
      opacity: 1;
      text-shadow: 0px 0px 2em rgba(255, 255, 255, .25);
    }
  }
  .activity-nav-icon.white {
    display: block;
  }
  .activity-nav-icon.black {
    display: none;
  }
}

$logoWidth: 3.75rem;
.activityNavbar,
.activityBrand {
  padding: .5rem 1rem;
}
.activityNavbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  min-height: calc(3.375rem + 1px);
  max-height: 100vh;
}
.activityBrand {
  position: absolute;
  top: 0;
  left: 0;
}
.activityBrand > img {
  width: $logoWidth;
  height: $logoWidth;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.37));
}
.activityNavbarCollapse {
  max-height: calc(100vh - 46px);
  overflow: auto;
}
.activity-nav-link, .activity-nav-link-secondary, .activity-nav-link-red-sparkle {
  display: block;
  padding: .5rem 1rem;
}
.activity-nav-link {
  font-size: 1.125rem;

  &.current {
    font-weight: 700;
  }
}
.activity-nav-link-secondary {
  &.current {
    font-weight: 500;
  }
}
.activity-nav-link, .activity-nav-link-secondary {
  letter-spacing: .062em;
}
.activity-nav-link-red-sparkle {
  padding: calc(2px + .25rem) 1.25rem .25rem;
  background: no-repeat;
  background-image: url(../assets/images/star-sm-red.svg), url(../assets/images/star-sm-red.svg);
  background-position: center left .25rem, center right .25rem;

  border-bottom: 2px dashed #B3292C;
  color: #B3292C;
  font-weight: 500;
  text-align: center;

  &:hover, &:active, &:visited {
    color: #B3292C;
  }
}
.activity-nav-icon {
  height: 1.25rem;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
.activityNavbar-red {
  .activityBrand {
    height: 100%;
    padding: 0;
    padding-left: 1rem;
  }
  .activityBrand > img {
    width: auto;
    height: 100%;
    filter: none;
  }
}

.carousel-article {
  width: 100%;
}

.article-sketchDeco {
  background: url(../assets/images/bg-deco.svg) no-repeat top left/3rem auto;

  & > .article-inner {
    padding-left: 3rem;
  }
  .article-title {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .062em;
  }
  .article-content {
    padding-top: .5rem;
  }
}

.activity-h2 {
  color: #303136;
  font-size: 1.5rem;
  letter-spacing: .06em;
  font-weight: 300;
}

.item-pill {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1;
  padding: 0.555555556em 1.111111111em;
  border-radius: 1.5em;
  border: 2px dotted #5D5C61;
}
.item-pill, .item-pill > a {
  color: #5D5C61;
}

.activity-grid-img {
  padding-bottom: 71.8918919%;
  background-size: cover;
  background-position: center;
  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    border-color: #fff;
  }
}
.activity-grid-title {
  color: #3A3536;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.activity-grid-p {
  color: #4c4c4c;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.038em;
}

.pagination-round {
  display: flex;

  & > li {
    width: 2.75rem;
    height: 2.75rem;
    line-height: 2.75rem;
    text-align: center;
    color: #5D5C61;
    border: 1px solid #5D5C61;
    border-radius: 2.75rem;
    cursor: pointer;
    opacity: 0.2;

    &.active, &:hover {
      opacity: 1;
    }
  }
}

.activity-h1 {
  font-size: 2rem;
  color: #303136;
  letter-spacing: .062em;
  font-weight: 700;
}
.activity-h1-sub {
  color: #7E7C83;
  letter-spacing: .02em;
}


.activities-kv {
  .activities-kv-figure {
    position: relative;
    margin: 0 0 20%;
    width: 100%;

    & > :first-child {
      display: block;
      width: 100%;
      height: 75vh;
    }
  }

  .activities-kv-figcaption {
    min-height: 175px;

    padding: 24px;
    background-color: rgba(234, 233, 237, .96);

    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;

    color: #3A3536;
  }

  .activities-kv-float {
    position: absolute;

    &.activities-kv-figcaption {
      position: relative;
      width: 80%;
      margin: 10%;
      padding: 12% 12% 10%;

      margin-top: -4%;
    }

    &.-float1 {
      width: 16.4527421%;
      top: -10%;
      right: 110%;
      margin-top: calc(75vh - (-0.25) * 75vh);
      margin-right: -30%;
    }
    &.-float2 {
      width: 23.3372229%;
      bottom: 10%;
      right: 103%;
      margin-bottom: calc(-0.1 * 75vh);
      margin-right: -20%;
    }
    &.-float3 {
      width: 28.588098%;
      top: 42.7%;
      left: 106.5%;
      margin-top: calc(75vh - 0.527 * 75vh);
      margin-left: -20%;
    }
    &.-float4 {
      width: 21.470245%;
      bottom: -12%;
      left: 97.4%;
      margin-bottom: calc(0.12 * 75vh);
      margin-left: -20%;
    }
  }
}


.blockAmiba {
  padding-top: 2.6%;
  padding-left: 8%;
  background: url(../assets/images/amiba-round.svg) no-repeat left top/54%;
}
.blockAmiba-time {
  font-size: 30px;
  line-height: 1;

  color: #32068B;

  & > span, & > sep {
    vertical-align: top;
  }

  & > sep {
    margin-right: .1em;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0;
  }

  & > span:last-child {
    line-height: 2;
    letter-spacing: 0.2em;
  }
}

.agenda-button {
  margin-bottom: -3rem;
  text-align: right;

  .btn-bgDeco {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: .02em;

    &::before {
      transform: rotate(-0.008333333turn);
    }
  }
}

@import 'activity_md.scss';
