@media (min-width: 768px) {
.activity-framing-x {
  max-width: 83.75rem;
}
.activity-framing-t,
.activity-framing-y {
  padding-top: 5.625rem;
}
.activity-framing-b,
.activity-framing-y {
  padding-bottom: 9.375rem;
}
.activity-indent-x, .activity-md-indent-x {
  padding: 0 1.875rem;
}

.activityNavbar {
  transition: background-color .3s;
}
.activityNavbar.activityNavbar-md-dark {
  background-color: rgba(0, 0, 0, .2);

  .activity-nav-link {
    color: #fff;
    &:hover, &.hover, &:active, &.active, &:visited, &.visited {
      color: #fff;
    }
  }
  .activity-nav-link-secondary {
    color: #EAE9ED;
    &:hover, &.hover, &:active, &.active, &:visited, &.visited {
      color: #EAE9ED;
    }
  }
  .activity-nav-link, .activity-nav-link-secondary {
    text-shadow: 0px 4px 2em rgba(0, 0, 0, 1);

    opacity: 0.8;
    &:hover, &.hover {
      opacity: 1;
    }
  }
}
$logoWidth: 5rem;
.activityNavbar, .activityBrand {
  padding: .75rem 1rem;
}
.activityNavbar {
  padding-left: 1rem + $logoWidth;
}
.activityBrand > img {
  width: $logoWidth;
  height: $logoWidth;
}
.activity-nav-icon {
  height: 1.5rem;
}

.carousel-article {
  position: absolute;
  bottom: 0rem;
  width: 44.6735395%;
}
.article-lg {
  min-height: 34.6875rem;
}
.article-bg-deco {
  color: #EAE9ED;
  background: url(../assets/bg-deco.svg) no-repeat top center/contain;

  .article-title {
    color: #fff;
  }

  & > .article-lg {
    padding-top: 30%;
    padding-left: 19.2307692%;
    padding-right: 19.2307692%;
    padding-bottom: 2rem;
  }
}
.activity-h2 {
  font-size: 1.875rem;
}
.activity-h2-deco {
  margin-right: 1.2rem;
  background-position: top left;
  background-size: auto;

  &.portfolio {
    width: 27.25rem;
  }
  &.teachors {
    width: 25.375rem;
  }
  &.cource {
    width: 20rem;
  }
  &.on-air {
    width: 17.9375rem;
  }
  &.photos {
    width: 19.9375rem;
  }
  &.press {
    width: 15.4375rem;
  }
  &.about {
    width: 16.875rem;
  }
}

.activity-grid-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.activitySection-imageArticle {
  .activity-h2 {
    position: absolute;
    top: 4.375rem;
    right: 0;
  }
  .pagination-round {
    position: absolute;
    right: 0;
    bottom: 3.25rem;
  }
}
.activitySection-imageArticle.activitySection-imageArticle-portrait {
  .activity-h2 {
    top: 1.875rem;
  }
  .pagination-round {
    bottom: 0;
  }
}
.activitySection-imageArticle-portrait {
  position: relative;

  .activitySection-imageArticle-portraitBg {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: calc(25% + 3rem);
    bottom: calc(25% - 1.25rem);
    background: linear-gradient(227.44deg, #EAE9ED 26.07%, rgba(234, 233, 237, 0.5) 78.32%);
  }
}
}
