.activity-framing-x {
  margin: 0 auto;
  width: 100%;
}
.activity-framing-t,
.activity-framing-y {
  padding-top: 40px;
}
.activity-framing-b,
.activity-framing-y {
  padding-bottom: 3.625rem;
}
.activity-indent-x {
  padding: 0 16px;
}

/*
.activityNavbar {
  background-color: #fff;

  .activity-nav-link {
    color: #241E20;
    &:hover, &.hover, &:active, &.active, &:visited, &.visited {
      color: #241E20;
    }
  }
  .activity-nav-link-secondary {
    color: #5D5C61;
    &:hover, &.hover, &:active, &.active, &:visited, &.visited {
      color: #5D5C61;
    }
  }
}
*/
.activityNavbar {
  background-color: rgba(0, 0, 0, .25);
  background-color: #3A3536;

  .activity-nav-link {
    color: #fff;
    &:hover, &.hover, &:active, &.active, &:visited, &.visited {
      color: #fff;
    }
  }
  .activity-nav-link-secondary {
    color: #EAE9ED;
    &:hover, &.hover, &:active, &.active, &:visited, &.visited {
      color: #EAE9ED;
    }
  }
  .activity-nav-link, .activity-nav-link-secondary {
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 1);

    opacity: 0.8;
    &:hover, &.hover {
      opacity: 1;
    }
  }
}
.content .activityNavbar {
  background-color: rgba(241,241,241,.97);
}
$logoWidth: 3.75rem;
.activityNavbar, .activityBrand {
  padding: .5rem 1rem;
}
.activityNavbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
.activityBrand {
  position: absolute;
  top: 0;
  left: 0;
}
.activityBrand > img {
  width: $logoWidth;
  height: $logoWidth;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
}
.activity-nav-link, .activity-nav-link-secondary {
  letter-spacing: 0.02em;
}
.activity-nav-link {
  font-weight: 500;
}
.activity-nav-icon {
  height: 1.25rem;
  opacity: 0.67;
}

.carousel-article {
  width: 100%;
}

.article-lg {
  .article-title {
    font-size: 2rem;
  }
}
.article-bg-deco {
  background: url(../assets/bg-deco.svg) no-repeat top .5rem left .5rem/20% auto;

  & > .article-lg {
    padding-top: 6.25%;
    padding-left: calc(.5rem + 20%);
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
}
.article-white {
  color: #EAE9ED;

  .article-title {
    color: #fff;
  }
}

.activity-h2 {
  color: #303136;
  font-size: 1.5rem;
  letter-spacing: .06em;
  font-weight: 300;
}
.activity-h2-deco {
  display: inline-block;
  height: 3.5rem;
  line-height: 1;
  width: 100%;
  background: no-repeat top center;
  background-size: contain;

  &.portfolio {
    background-image: url(../assets/h2-deco-portfolio.svg);
  }
  &.teachors {
    background-image: url(../assets/h2-deco-teachors.svg);
  }
  &.cource {
    background-image: url(../assets/h2-deco-cource.svg);
  }
  &.on-air {
    background-image: url(../assets/h2-deco-on-air.svg);
  }
  &.photos {
    background-image: url(../assets/h2-deco-photos.svg);
  }
  &.press {
    background-image: url(../assets/h2-deco-press.svg);
  }
  &.about {
    background-image: url(../assets/h2-deco-about.svg);
  }
}

.item-pill {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1;
  padding: 0.555555556em 1.111111111em;
  border-radius: 1.5em;
  border: 2px dotted #5D5C61;
}
.item-pill, .item-pill > a {
  color: #5D5C61;
}

.activity-grid-img {
  padding-bottom: 71.8918919%;
  background-size: cover;
  background-position: center;
  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    border-color: #fff;
  }
}
.activity-grid-title {
  color: #3A3536;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.activity-grid-p {
  color: #4c4c4c;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.038em;
}

.pagination-round {
  display: flex;

  & > li {
    width: 2.75rem;
    height: 2.75rem;
    line-height: 2.75rem;
    text-align: center;
    color: #5D5C61;
    border: 1px solid #5D5C61;
    border-radius: 2.75rem;
    cursor: pointer;
    opacity: 0.2;

    &.active, &:hover {
      opacity: 1;
    }
  }
}
