@media (min-width: 768px) {
.activity-framing-x {
  width: 88%;
  max-width: 72.75rem;
}
.activity-framing-b,
.activity-framing-y {
  padding-bottom: 9.375rem;
}
.activityNavbar {
  box-shadow: none;
}
.carousel-article {
  position: absolute;
  bottom: -10rem;
  width: 44.6735395%;
}
.article-lg {
  min-height: 34.6875rem;
}
.article-bg-deco {
  color: #EAE9ED;
  background: url(../assets/bg-deco.svg) no-repeat top center/contain;

  .article-title {
    color: #fff;
  }

  & > .article-lg {
    padding-top: 30%;
    padding-left: 19.2307692%;
    padding-right: 19.2307692%;
    padding-bottom: 2rem;
  }
}
.activity-h2 {
  text-align: left;
}
.activity-h2-deco {
  margin-right: 1.2rem;
  background-position: top left;
  background-size: auto;

  &.portfolio {
    width: 27.25rem;
  }
  &.teachors {
    width: 25.375rem;
  }
  &.cource {
    width: 20rem;
  }
  &.on-air {
    width: 17.9375rem;
  }
  &.photos {
    width: 19.9375rem;
  }
  &.press {
    width: 15.4375rem;
  }
  &.about {
    width: 16.875rem;
  }
}
}
