@media (min-width: 768px) {
.activity-framing-x {
  max-width: 83.75rem;
}
.activity-framing-t,
.activity-framing-y {
  padding-top: 5.625rem;
}
.activity-framing-b,
.activity-framing-y {
  padding-bottom: 9.375rem;
}
.activity-indent-x, .activity-md-indent-x {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.activityNavbar {
  transition: background-color .3s;
}
.activityNavbar.activityNavbar-md-dark {
  background-color: rgba(0, 0, 0, .2);

  .activity-nav-link {
    color: #fff;

    &:hover, &.hover, &:active, &.active, &:visited, &.visited {
      color: #fff;
    }
  }
  .activity-nav-link-secondary {
    color: #EAE9ED;
    &:hover, &.hover, &:active, &.active, &:visited, &.visited {
      color: #EAE9ED;
    }
  }
  .activity-nav-link, .activity-nav-link-secondary {
    text-shadow: 0px 4px 2em rgba(0, 0, 0, 1);

    opacity: 0.8;
    &:hover, &.hover {
      opacity: 1;
    }
  }
}

.activityNavbar-light {
  .activity-nav-link {
    &.current {
      &::before, &::after {
        content: ' / ';
      }
    }
  }
}

$logoWidth: 5rem;
.activityNavbar, .activityBrand {
  padding: .75rem 1rem;
}
.activityNavbar {
  padding-left: 1rem + $logoWidth;
}
.activityBrand > img {
  width: $logoWidth;
  height: $logoWidth;
}
.activity-nav-icon {
  height: 1.5rem;
}

.carousel-article {
  position: absolute;
  bottom: 0;
  margin-bottom: -5.7638889%;
  width: 36.1111111%;
}
.article-sketchDeco {
  position: relative;
  padding-bottom: 91.5384615%;
  background: url(../assets/images/bg-deco.svg) no-repeat top center/contain;
  color: #EAE9ED;

  & > .article-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 26%;
    padding-left: 20%;
    padding-right: 30%;
    padding-bottom: 20%;
  }

  .article-title {
    color: #fff;
    font-size: 2rem;
    line-height: 1.42;
    height: 60%;
    overflow: hidden;
  }

  .article-content {
    padding-left: 18.5%;
    height: 40%;
    overflow: hidden;
  }
}
.activity-h2 {
  font-size: 1.875rem;
}

.activity-grid-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.activitySection-imageArticle {
  .activity-h2 {
    position: absolute;
    top: 4.375rem;
    right: 0;
  }
  .pagination-round {
    position: absolute;
    right: 0;
    bottom: 3.25rem;
  }
}
.activitySection-imageArticle.activitySection-imageArticle-portrait {
  .activity-h2 {
    top: 1.875rem;
  }
  .pagination-round {
    bottom: 0;
  }
}
.activitySection-imageArticle-portrait {
  position: relative;

  .activitySection-imageArticle-portraitBg,
  .activitySection-imageArticle-article {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(25% + 3rem);
    bottom: calc(25% - 1.25rem);
  }
  .activitySection-imageArticle-portraitBg {
    background: linear-gradient(227.44deg, #EAE9ED 26.07%, rgba(234, 233, 237, 0.5) 78.32%);
  }
}


.activities-kv {
  .activities-kv-figure {
    margin: 10% auto;
    width: 60%;

    & > img:first-child {
      margin-top: 0;
      height: auto;
    }
  }

  .activities-kv-float {
    position: absolute;

    &.activities-kv-figcaption, &.-float1, &.-float2, &.-float3, &.-float4 {
      margin: 0;
    }

    &.activities-kv-figcaption {
      position: absolute;
      max-width: 285px;
      margin: 0;
      right: -28.9381564%;
      top: 5%;
      padding: 24px;
      z-index: 10;
    }
  }
}


.agenda-button {
  position: absolute;
  right: 2.5rem;
  margin-top: -9.5rem;
  margin-bottom: 0;

  .btn-bgDeco {
    font-size: 18px;

    &::before {
      transform: rotate(0);
    }
    &:hover::before {
      transform: rotate(0.008333333turn);
    }
  }
}
}
