.producer-2022-intro {
  border: 4px solid transparent;
  border-radius: 1px;
  $color-bg: #fff;
  background: linear-gradient($color-bg, $color-bg) padding-box, linear-gradient(to right, #E5D2EE, #CFE0EF) border-box;
}

.infoInBubblesDeco {
  position: absolute;
  width: 100%;

  & > :nth-child(n) {
    position: absolute;
  }

  & > .bg-bubble {
    &:nth-child(1) {
      left: 67.9319372%;
      top: -30px;
      @media (min-width: 480px) {
        left: 67.9319372%;
        top: 24px;
      }

      width: 80px;
      height: 80px;
    }
    &:nth-child(2) {
      left: 7.0680628%;
      top: 232px;

      width: 60px;
      height: 60px;
    }
    &:nth-child(3) {
      xleft: 2 * 40.7068063%;
      right: 1rem;
      top: 500px;
      @media (min-width: 600px) {
        left: 40.7068063%;
        top: 378px;
      }

      width: 80px;
      height: 80px;
    }
  }
}

.infoInBubbles {
  & > :nth-child(1) {
    margin-left: 8.8626292%;
  }
  & > :nth-child(2) {
    margin-top: -1rem;
    margin-left: auto;
    margin-right: 0;

    @media (min-width: 480px) {
      margin-top: -174px;
      margin-top: -24.8571429%;
    }

    @media (min-width: 768px) {
      margin-left: 57.3116691%;
      margin-right: auto;
    }
  }
  & > :nth-child(3) {
    margin-top: -.5rem;
    margin-left: -5.1698671%;

    @media (min-width: 480px) {
      margin-top: -95px;
    }
  }
  & > :nth-child(4) {
    margin-top: -1rem;
    margin-left: auto;
    margin-right: 5%;

    @media (min-width: 480px) {
      margin-top: -176px;
      margin-top: -25.10699%;
    }

    @media (min-width: 768px) {
      margin-left: 39.1432792%;
      margin-right: auto;
    }
  }

  .bg-bubble {
    width: calc(90vw - 1rem);
    height: calc(90vw - 1rem);
    max-width: 300px;
    max-height: 300px;

    &:nth-child(2) {
      max-width: 320px;
      max-height: 320px;
    }
    &:nth-child(4) {
      max-width: 340px;
      max-height: 340px;
    }
  }

  .bubble-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: .1em;
    color: #303136;
  }
}

.infoInMountain {
  margin-top: -85px;
  margin-top: -8.6805556%;
  @media (min-width: 1368px) {
    margin-top: -125px;
  }

  &.bg-mountain {
    width: 100vw;
    min-height: 31.9444444vw;
    padding-top: calc(3rem + 6.0416667%);
    padding-left: 11.3888889%;
    padding-right: 11.3888889%;
    @media (min-width: 1440px) {
      padding-top: 9.375%;
    }
  }
}
.infoInMountain-inner {
  max-width: 596px;
}
.infoInMountain-title, .infoInMountain-title-sm {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: .1em;
  color: #303136;
}
.infoInMountain-title-sm {
  font-size: 22px;
}


.activity-producer-2022-bg-1 {
  background: url(../public/activity-producer-2022/activity-producer-2022-bg-1.png) no-repeat top center/cover;
}

 .projectCard-wrapper {
  padding: 4.5731707%;
 }
.projectCard {
  border-width: 0;
  border-radius: 1rem;
  filter: drop-shadow(0px 4px 20px rgba(94, 37, 106, 0.25));
  overflow: hidden;
}
.projectFigure {
  padding: 8% 5.3691275%;
  @media (min-width: 576px) {
    padding: 16.7785235% 5.3691275%;
  }
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.projectFigure-img {
  width: 37.2483221%;
  max-width: 111px;
}
.projectFigure-caption, .projectFigure-caption-sub {
  width: 1em;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  color: #000;
}
.projectFigure-caption-sub {
  font-size: 24px;
}

ul.activity-producer-tablelist {
  font-size: 1rem;
  border: 6px solid #AB8DB1;
  border-radius: 6px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); /* this draws the table border  */
  background: rgba(94, 37, 106, 0.03);

  & > li {
    &:not(:last-child), & > .col-12 {
      border-bottom-style: solid;
    }
    @media (min-width: $breakpoint-sm) {
      & > .col-sm-4 {
        border-bottom-style: none;
        border-right-style: solid;
      }
    }
    &:not(:last-child), & > .col-12 {
      border-color: #AB8DB1 !important;
    }
    &:not(:last-child) {
      border-width: 3px;
      @media (min-width: $breakpoint-sm) {
        border-width: 2px;
      }
    }
    & > .col-12 {
      border-width: 1px;
      @media (min-width: $breakpoint-sm) {
        border-width: 2px;
      }
    }
  }
}

.text-th {
  color: #2F152E;
  font-size: 1.375em;
  font-weight: 700;
  letter-spacing: .038em;
}

.text-td {
  color: #3A3536;
  font-weight: 500;
  letter-spacing: .062em;
}

.text-sm {
  color: #827C83;
  font-size: 0.875em!important;
  font-weight: 500;
  letter-spacing: .038em;
}

.label-phase1, .label-phase2, .label-phase3 {
  margin: 0.625em 0;

  & > .label {
    margin-right: 1.333333333em;
    display: inline-block;
    text-align: center;
    min-width: 4.333333333em;
    padding: 0 0.666666667em;
    height: 2em;
    line-height: 2em;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
  }
}
.label-phase1 {
  & > .label {
    background-color: #5FAACE;
  }
}
.label-phase2 {
  & > .label {
    background-color: #F2BE30;
  }
}
.label-phase3 {
  & > .label {
    background-color: #C63939;
  }
}

.activity-producer-dt {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: .1em;
}

.text-blue-gradient {
  font-weight: 700;

  background: linear-gradient(172.74deg, rgba(255, 255, 255, 0.9) 5.65%, rgba(255, 255, 255, 0.45) 43.58%, rgba(255, 255, 255, 0) 54.21%), #5FAACE;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 1px 0px 32px rgba(65, 120, 255, 0.16), 0px 0px 80px rgba(192, 219, 255, 0.37);
}

.coActivities {
  position: relative;
  z-index: 0;
  overflow: hidden;

  .coActivities-head {
    height: calc(.65625 * (100vw + 73.8095238vw));
    padding: 3rem 6.25%;
  }

  .coActivities-title {
    width: 38.5714286%;
    font-size: 2.25rem;
    text-align: center;
  }

  .coActivities-image {
    position: absolute;
    z-index: -1;
    width: 65.625%;
    top: 0;

    & > img {
      position: relative;
    }

    &:first-child {
      left: 0;
      & > img {
        left: -9.5238095%;
      }
    }
    &:last-child {
      right: 0;
      & > img {
        left: 9.5238095%;
        margin-top: 73.8095238%;
      }
    }
  }

  @media (min-width: $breakpoint-sm) {
  .coActivities-head {
    height: calc(1.4 * 320px);
  }

  .coActivities-image {
    width: 320px;
    &:last-child {
      & > img {
        margin-top: 40%;
      }
    }
  }
  }

  @media (min-width: $breakpoint-sm) {
  .coActivities-title {
    width: auto;
    font-size: 3.5rem;
  }
  }

  @media (min-width: $breakpoint-lg) {
  .coActivities-head {
    height: auto;
  }

  .coActivities-image {
    width: 36.3888889%;
    max-width: 524px;
    top: 10%;

    &:last-child, &:first-child {
      & > img {
        margin-top: 0%;
      }
    }
  }
  }
}

.phases {
  $color: #241E20;

  margin: 0 auto;
  margin-bottom: -.25rem;
  max-width: 600px;
  padding-bottom: 1.5rem;

  position: relative;
  z-index: 1;

  .phases-timeline {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 6.9444444%;
    width: .5rem;
    height: 100%;
    border-radius: .25rem;
    background-color: $color;
  }

  .phases-timeline-spot {
    position: relative;
    left: 6.9444444%;
    margin-left: calc(-1 * (1.75rem - 0.5rem) / 2);
    width: 1.75rem;
    height: 1.75rem;
    border-radius: calc(1.75rem / 2);
    border: .5rem solid $color;
    background-color: #fff;
  }

  .dialog-pointer {
    left: calc(20% - 20px);
  }

  @media (min-width: $breakpoint-md) {
    max-width: initial;

    margin-bottom: 0;
    padding-bottom: calc(32.8125% * .619047619 + 20px + 3rem);

    .phases-timeline {
      top: auto;
      left: 0;
      height: .5rem;
      width: 100%;
      margin-top: calc(-1 * (28px / 2 + 8px / 2));
    }
    .phases-timeline-spot {
      margin-top: .5rem;
      left: calc(68.4848485% - 28px);
    }
    .dialog-pointer {
      left: calc(68.4848485% - 28px + 1.5rem);
    }

    .phase1 {
      width: 25.78125%;
    }
    .phase2 {
      width: 28.125%;
    }
    .phase3 {
      width: 32.8125%;
    }
  }
  @media (min-width: $breakpoint-lg) {
    .dialog-title {
      font-size: 2rem;
    }
  }
}

.phase1-images {
  text-align: center;

  & > .phase-image {
    margin: 3.5087719% 7.0175439%;
  }

  & > .phase-image:nth-child(1) {
    width: 9.2857143%;
    max-width: 36px;
  }
  & > .phase-image:nth-child(2) {
    width: 41.7857143%;
    max-width: 160px;
  }
}

.phase2-images {
  text-align: center;

  & > .phase-image {
    margin: .5em 1em;
  }

  & > .phase-image:nth-child(1) {
    width: 9.2857143%;
    max-width: 36px;
  }
  & > .phase-image:nth-child(2) {
    width: 14.2857143%;
    max-width: 60px;
  }
  & > .phase-image:nth-child(3) {
    width: 71.4285714%;
    max-width: 300px;
  }
}

.phase3-images {
  text-align: center;

  & > .phase-image {
    margin: .5em auto;
  }

  & > .phase-image:nth-child(1) {
    width: 78.5714286%;
    max-width: 260px;
  }

  @media (min-width: $breakpoint-md) {
    & > .phase-image:nth-child(1) {
      width: 61.9047619%;
      max-width: 260px;
    }
  }
}
.phase1-images, .phase2-images, .phase3-images {
  width: 100%;
}

@media (min-width: $breakpoint-md) {
  .phase1-images, .phase2-images, .phase3-images {
    position: absolute;
    top: calc(100% + 28px + 20px);
    left: 0;
  }
}
