@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import 'carousel_box.scss';
@import 'bubbles.scss';

@font-face {
  font-family: "Microsoft JhengHei";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("Microsoft JhengHei"), url("../assets/msjh.ttf") format("ttf");
}
@font-face {
  font-family: "Microsoft JhengHei";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local("Microsoft JhengHei"), url("../assets/msjhbd.ttf") format("ttf");
}

$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

$color-primary: #B3292C;
$color-blue: #5FAACE;

html {
  font-size: 16px;
}
body {
  font-family: 'Open Sans', 'Noto Sans TC', "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.index {
  background-color: #241E20;
}
body.activity, body.school, body.about {
  background-color: #ffffff;
  color: #4C4C4C;
}
body.activity, body.school, body.about {
  padding-top: 3.375rem;
}

.pt-navbar {
  padding-top: 48px;
}
.indexBrand > img {
  width: 3.75rem;
}
.sidebar, .indexNavbar {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  background-color: #241E20;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/
}
.sidebar, .indexNavbar {
  & > .indexBrand {
    margin-bottom: calc(-1 * 3.75rem / 2);
  }
}
.sidebarMenuItem, .indexNavbarMenuItem {
  & > a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
  }
}
.sidebarMenuItem > a, .indexNavbarMenuItem > a {
  line-height: 1.2;
  letter-spacing: .1em;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);

  &:hover, &.hover, &:active, &.active, &:visited, &.visited {
    color: rgba(255, 255, 255, 1);
  }
}
.sidebarMenuItem, .indexNavbarMenuItem {
  position: relative;
  & > a::after {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: calc(100% - 3px);
    width: 5px;
    background-color: white;
    transition: top .3s, bottom .3s;
    transition-timing-function: ease-out;
  }
  & > a:hover::after {
    top: -1rem;
    bottom: -1rem;
  }
}

.index-fixed-bg {
  padding-top: 59.0277778%;
  background: no-repeat top center/100% auto;
  overflow: auto;
}
.bg-slogan1 {
  background-image: url(../assets/slogan_text1.svg), url(../public/index/slogan_bg1.jpg);
  background-position: top 10.625vw left 12.8472222vw, top center;
  background-size: 41.8055556%, 100% auto;
}
.bg-slogan2 {
  background-image: url(../assets/slogan_text3.svg), url(../public/index/bg-activity.png);
  background-position: top 23.125vw left 12.9166667vw, top center;
  background-size: 28.8888889%, 100% auto;
}
.bg-kv2 {
  background-image: url(../public/index/kv2.png);
  background-position: top center;
  background-size: 100% auto;
}
.index-kv {
  position: relative;
  width: 100vw;
  height: 59vw;
  overflow: hidden;
}
.kv-slogan1 {
  position: absolute;
  top: 10.625vw;
  left: 12.8472222vw;
  width: 40vw;
}

.footer {
  min-height: 50vh;
  background-color: #241E20;
}
.footer-body {
  margin: 0 auto;
  width: 80%;
  max-width: 60rem;
  padding: 5rem 0 1rem;
  color: #929295;
}
.footer-body {
  a, a:hover, a:active, a:visited {
    color: #929295;

    &.text-blue {
      color: $color-blue;
    }
  }
}
.footer-title {
  color: #EAE9ED;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: .02em;
}
.footer-dl {
  & > dt {
    margin-bottom: .5rem;
  }
  & > dd + dt {
    margin-top: 2rem;
  }
  & > dd {
    margin-bottom: .5rem;
    color: #929295;
    font-size: 0.875rem;
  }
}
.footer-copyright {
  font-size: 0.75rem;
  color: #929295;
}

.fixed-bg {
  height: 100vh;
  padding: 100px;
  background: yellow url('logo@2x.png') no-repeat top left;
  overflow: auto;

  p {
    height: 150vh;
    background: blue;
  }

}

.bgAnimation, .bgAnimation.bg-slogan1 {
  background-position: top 10.625vw left 12.8472222vw, top left;
  background-size: 41.8055556%, auto 100%;

  &.start {
    background-size: 41.8055556%, auto 110%;
    transition: background-size 8s;
    transition-timing-function: linear;
  }
  &.bg-slogan2 {
    background-position: top 23.125vw left 12.9166667vw, top center;
    background-size: 28.8888889%, auto 66vw;

    &.start {
      background-size: 28.8888889%, auto 60vw;
    }
  }
  &.bg-kv2 {
    background-position: top center;
    background-size: auto 66vw;

    &.start {
      background-size: auto 60vw;
    }
  }
}

.kvAnimation {
  & > :not(.current) {
    display: none;
  }
  .action {
    .kvAnimation-object {
      transition: transform 6s;
      transition-timing-function: linear;
    }
  }
  .zoom-in-right-bottom {
    .kvAnimation-object {
      transform-origin: top left;
      transform: scale(1);
    }
    &.action .kvAnimation-object {
      transform: scale(1.08);
    }
  }
  .zoom-out-top-left {
    .kvAnimation-object {
      transform-origin: top left;
      transform: scale(1.08);
    }
    &.action .kvAnimation-object {
      transform: scale(1);
    }
  }
  .zoom-out-top-right {
    .kvAnimation-object {
      transform-origin: top right;
      transform: scale(1.08);
    }
    &.action .kvAnimation-object {
      transform: scale(1);
    }
  }
  .zoom-in-center {
    .kvAnimation-object {
      transform-origin: center;
      transform: scale(1);
    }
    &.action .kvAnimation-object {
      transform: scale(1.08);
    }
  }
  .zoom-out-center {
    .kvAnimation-object {
      transform-origin: center;
      transform: scale(1.08);
    }
    &.action .kvAnimation-object {
      transform: scale(1);
    }
  }
}

@import 'icons.scss';
@import 'components.scss';
@import 'justified_gallery.scss';
@import 'shared.scss';
@import 'app_md.scss';
@import 'index.scss';
@import 'index_md.scss';
@import 'activity.scss';
@import 'about.scss';
@import 'about_md.scss';

@import 'activity_producer.scss';

@import 'simplelightbox_override.scss';
