@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');@import 'carousel_box.scss';
@import 'bubbles.scss';

$color-primary: #B3292C;
$color-blue: #5FAACE;

html {
  font-size: 14px;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
}
body.index {
  background-color: #241E20;
}
body.activity {
  background-color: #ffffff;
  color: #4C4C4C;
}
body.content {
  background-color: #F1F1F3;
  color: #4C4C4C;
}
a, a:hover, a:active, a:visited {
  color: #241E20;
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  display: block;
}
h1, figure {
  margin-bottom: 0;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.w-85 {
  width: 85%;
}

.text-h3 {
  font-size: 1.75rem;
}
.text-h5 {
  font-size: 1.125rem;
  font-weight: 700;
}
.text-14px {
  font-size: 14px;
}
.text-smaller {
  font-size: 0.8em;
}
.text-loose {
  letter-spacing: 0.062em;
  line-height: 1.588235294em;
}
.text-loose-2 {
  letter-spacing: .2em;
}
.text-blue {
  color: $color-blue;
}
.text-gray-4 {
  color: #4c4c4c;
}
.text-gray-8 {
  color: #8c8c8c;
}
.shadow-darker {
  box-shadow: 0 .25rem 1.25rem rgba(0,0,0,.25);
}
.text-shadow-blue {
  text-shadow: 0px 2px 10px rgba(95, 170, 206, 0.2);
}
.text-shadow-white {
  text-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
}
.bg-gray {
  background-color: #F1F1F3;
}
.bg-balls {
  background: url(../assets/bg-balls.svg) no-repeat top left 30.555556%/104.1666667% auto;
}

.figure-fixed-ratio,
.figure-hr-43,
.figure-hr-67,
.figure-wide-md {
  background-size: cover;
  background-position: center;
}
.figure-hr-43 {
  padding-bottom: 42.7966102%;
}
.figure-hr-53 {
  padding-bottom: 53.3333333%;
}
.figure-hr-67 {
  padding-bottom: 67.1428571%;
}
.figure-wide-md {
  padding-bottom: 53.5714286%;
}

.btn, a.btn {
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: .02em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.btn-outline-primary {
  border: 2px solid;
  border-radius: 2px;
  background-color: transparent;
}
.btn-outline-primary, a.btn-outline-primary {
  color: $color-primary;
  border-color: $color-primary;

  &:hover, &:active, &:visited, &:focus,
  &.hover, &.active, &.visited, &.focus {
    border-color: $color-primary;
    background-color: $color-primary;
  }
}


.pt-navbar {
  padding-top: 48px;
}
.indexBrand > img {
  width: 3.75rem;
}
.sidebar, .indexNavbar {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  background-color: #241E20;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.sidebar, .indexNavbar {
  & > .indexBrand {
    margin-bottom: calc(-1 * 3.75rem / 2);
  }
}
.sidebarMenuItem, .indexNavbarMenuItem {
  & > a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
  }
}
.sidebarMenuItem > a, .indexNavbarMenuItem > a {
  line-height: 1.2;
  letter-spacing: .1em;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
.sidebarMenuItem, .indexNavbarMenuItem {
  position: relative;
  & > a::after {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: calc(100% - 3px);
    width: 5px;
    background-color: white;
    transition: top .3s, bottom .3s;
    transition-timing-function: ease-out;
  }
  & > a:hover::after {
    top: -1rem;
    bottom: -1rem;
  }
}

.index-fixed-bg {
  padding-top: 59.0277778%;
  background: no-repeat top center/100% auto;
  overflow: auto;
}
.bg-slogan1 {
  background-image: url(../assets/slogan_text1.svg), url(../assets/slogan_bg1.jpg);
  background-position: top 10.625vw left 12.8472222vw, top center;
  background-size: 41.8055556%, 100% auto;
}
.bg-slogan2 {
  background-image: url(../assets/slogan_text2.svg), url(../assets/slogan_bg2.jpg);
  background-position: top 23.125vw left 12.9166667vw, top center;
  background-size: 28.8888889%, 100% auto;
}

.footer {
  min-height: 50vh;
  background-color: #241E20;
}
.footer-body {
  margin: 0 auto;
  width: 80%;
  max-width: 60rem;
  padding: 5rem 0 1rem;
  color: #929295;
}
.footer-body {
  a, a:hover, a:active, a:visited {
    color: #929295;

    &.text-blue {
      color: $color-blue;
    }
  }
}
.footer-title {
  color: #EAE9ED;
  font-size: 1.5rem;
  font-weight: 900;
}
.footer-dl {
  & > dt {
    margin-bottom: .25rem;
    font-weight: 900;
  }
  & > dd {
    margin-bottom: 2rem;
    color: #929295;
  }
}
.footer-copyright {
  font-size: 0.75rem;
  color: #929295;
}

.fixed-bg {
  height: 100vh;
  padding: 100px;
  background: yellow url('logo@2x.png') no-repeat top left;
  overflow: auto;

  p {
    height: 150vh;
    background: blue;
  }

}

.bgAnimation, .bgAnimation.bg-slogan1 {
  background-position: top 10.625vw left 12.8472222vw, top left;
  background-size: 41.8055556%, auto 100%;

  &.start {
    background-size: 41.8055556%, auto 110%;
    transition: background-size 8s;
    transition-timing-function: linear;
  }
  &.bg-slogan2 {
    background-position: top 23.125vw left 12.9166667vw, top center;
    background-size: 28.8888889%, auto 66vw;

    &.start {
      background-size: 28.8888889%, auto 60vw;
    }
  }
}

@import 'app_md.scss';
@import 'index.scss';
@import 'index_md.scss';
@import 'activity.scss';
@import 'activity_md.scss';
@import 'about.scss';
@import 'about_md.scss';
