@media (min-width: 768px) {
.bg-purple {
  background-size: cover;
}

.index-margin-left {
  margin-left: 9.5rem;
}

.index-margin-sidebar {
  margin-left: 5.5rem;
}

.index-h2 {
  font-size: 2.5rem;

  .h2-deco {
    font-size: 5rem;
  }
}
.index-h2-deco {
  height: auto;
}

.margin-md-left-sidebar {
  margin-left: 5.5rem;
}

.index-title-school {
  position: absolute;
}

.borderedBox-light {
  width: 100%;
}
.borderedBox-topImage {
  margin-bottom: -33.6275375%;
  width: 47.6610768%;
  margin-left: calc( -0.5 * 47.6610768%);
}

.index-activity-poster {
  width: 75%;
}

.index-page-control {
  display: block;
  position: absolute;
  bottom: -4.1666667vw;
  right: 0;
  overflow: hidden;

  .index-page-button {
    margin-right: -4.1666667vw;
    margin-bottom: 0;
    width: 22.2222222vw;
    height: 22.2222222vw;
    line-height: 22.2222222vw;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: .2;

    color: #fff;
    font-family: 'Josefin Sans';
    font-size: 6.66vw;
    font-weight: 100;

    &.active {
      opacity: .67;
    }
  }

  & > :nth-child(n + 2) {
    margin-top: -4.1666667vw;
  }
}

.index-bg-press {
  background-position: 350% 67%;
}

.sky {
  padding-bottom: 9%;
}
.sky-h5, .sky-p {
  text-align: left;
}
.sky-link {
  &:active {
    color: white;
    opacity: 1;
  }
}
.sky-left, .sky-right {
  width: 32%;
}
.sky-left {
  margin-top: 4.0680473%;
  margin-left: 5.6213018%;

  .sky-h5 {
    margin-left: 14.5496536%;
    margin-top: 6.0046189%;
    margin-bottom: 11.3163972%;
  }
  .sky-p {
    margin-left: 26.0969977%;
    margin-top: 13.8568129%;
    margin-bottom: 5.5427252%;
  }
  .sky-left-2 {
    display: block;
  }
}
.sky-right {
  margin-top: 4.8076923%;
  margin-left: 27.4408284%;

  .sky-h5 {
    margin-left: 31.408776%;
    margin-top: 10.6235566%;
    margin-bottom: 6.9284065%;
  }
  .sky-p {
    margin-top: 10.1616628%;
  }
  .sky-right-2 {
    display: block;
  }
  .sky-right-4 {
    display: none;
  }
}
.sky {
  position: relative;
}
.skyImage {
  position: absolute;

  & > img {
    width: 36.9822485%;
  }
}

}
