a, a:hover, a:active, a:visited {
  color: #241E20;
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  display: block;
}
h1, figure {
  margin-bottom: 0;
}
label {
  margin-bottom: .25rem;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: .062em;
  color: #7E7C83;
}
fieldset {
  margin-bottom: 1rem;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.w-85 {
  width: 85%;
}
.mw-1440px {
  max-width: 1440px;
}
.font-weight-medium {
  font-weight: 500 !important;
}

.overflow-hidden {
  overflow: hidden;
}

.h2-deco {
  font-size: 3rem;
  line-height: 1;
  $padding-left: 0;
  $padding-top: 20px;

  display: inline-block;
  position: relative;
  max-width: 100%;
  padding-left: $padding-left;
  padding-top: $padding-top;
  background: url(../assets/h2Deco.svg) no-repeat left 4px top 0/0.333333333em auto;

  font-family: 'Josefin Sans';
  font-weight: 100;
  letter-spacing: .05em;
  vertical-align: text-bottom;
  color: inherit;
  opacity: .75;

  text-transform: uppercase;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;

  &::before, &::after {
    content: attr(data-text);
    position: absolute;
    top: $padding-top;
    left: $padding-left + 0.083333333em;
  }

  &::after {
    left: $padding-left;
    font-weight: bold;
    letter-spacing: 0;
    opacity: 0.2;
  }
}

.h2-lg {
  color: #303136;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2em;

  .h2-deco {
    font-size: 3.5rem;
    letter-spacing: .1em;

    &::after {
      letter-spacing: .055em;
    }
  }
}

.section-h3 {
  color: #303136;
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: 0.062em;
}
.bg-blue-800 .section-h3 {
  color: #F7F5EE;
  text-shadow: 0px 0px 80px #FDFFA9;
}

.color-inherit {
  color: inherit!important;
}

.text-h3 {
  font-size: 1.875rem;
  font-weight: 500;
  letter-spacing: 0.08em;
}
.text-h4 {
  color: #303136;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.062em;
}
.text-h5 {
  color: #3A3536;
  font-size: 1.5rem;
  font-weight: 500;
}
.text-h6 {
  color: #3A3536;
  font-size: 1.25rem;
  font-weight: 700;
}
.text-p {
  line-height: 1.62;
  letter-spacing: 0.038em;
}
.text-p-sm {
  color: #303136;
  font-size: 14px;
  line-height: 1.62;
  letter-spacing: 0.038em;
}
.text-14px {
  font-size: 14px;
}
.text-smaller {
  font-size: 0.8em;
}
.text-loose {
  letter-spacing: 0.062em;
  line-height: 1.588235294em;
}
.text-loose-2 {
  letter-spacing: .2em;
}
.text-bold {
  font-weight: 700!important;
}
.text-blue {
  color: $color-blue !important;
  color: #54AED9 !important;
}
.text-blue-500 {
  color: #409DC9 !important;
}
.text-gray-4 {
  color: #4c4c4c;
}
.text-gray-5 {
  color: #5D5C61;
}
.text-gray-8 {
  color: #8c8c8c;
}
.text-yellow-300 {
  color: #E4C666!important;
}
.text-dark-warm-400 {
  color: #3A3536;
}
.text-dark-warm-500 {
  color: #241E20;
}
.text-dark-cold-400 {
  color: #303136;
}
.text-shadow-blue {
  text-shadow: 0px 2px 10px rgba(95, 170, 206, 0.2);
}
.text-shadow-white {
  text-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
}
.text-quote {
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: 0.2em;
}
.text-quote-on-image {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: .2em;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.text-caption {
  $line-height: 1.62em;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: $line-height;
  letter-spacing: .038em;

  &.text-mh-2 {
    max-height: 2 * $line-height;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }
  &.text-ellipsis {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
.text-underline {
  text-decoration: underline;
}

.box-border-glow {
  border: 5px solid white;
  box-shadow: 0 0 80px rgba(192, 219, 255, .25), 0 0 32px rgba(65, 120, 255, .08);
}
.image-shadow {
  box-shadow: 0 .25rem 1.25rem rgba(0,0,0,.1);
}
.shadow-darker {
  box-shadow: 0 .25rem 1.25rem rgba(0,0,0,.25);
}
.drop-shadow {
  filter: drop-shadow(0 .25rem 1.25rem rgba(0, 0, 0, 0.25));
}
.drop-shadow-lg {
  filter: drop-shadow(0 .25rem 2.5rem rgba(0, 0, 0, 0.25));
}

.bg-blur {
  overflow: hidden;

  &::before {
    filter: blur(30px) brightness(57%) saturate(150%);
  }
}
.bg-dark {
  background-color: #241E20!important;
}
.bg-gray {
  background-color: #F7F7F8;
}
.bg-blue-800 {
  background-color: #11144C;
}
.bg-linear-light {
  background: linear-gradient(164.8deg, rgba(234, 233, 237, 0) 9.07%, rgba(234, 233, 237, 0.7) 89.32%);;
}
.bg-balls {
  background: url(../assets/bg-balls.svg) no-repeat top left 30.555556%/104.1666667% auto;
}
.bg-bubble {
  background: url(../assets/images/bubble-blue.svg) no-repeat center/contain;
}
.bg-mountain {
  background: url(../assets/images/mountain.svg) no-repeat top left/cover;
}
.bg-aurora {
  background: url(../assets/images/bg-aurora@2x.jpg) no-repeat bottom center/cover;
}
.bg-neural-networks-1 {
  background: url(../assets/images/bg-neural-networks-1@2x.png) no-repeat top center/cover;
}
.bg-neural-networks-2 {
  background: url(../assets/images/bg-neural-networks-2@2x.jpg) no-repeat top center/cover;
}

.fonts-article-title {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: .02em;
  color: #303136;
}
.fonts-article-content {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.038em;
  color: #4c4c4c;
}

.btn, a.btn {
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: .02em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 6px;
}
.btn-white-outline-primary {
  border: 2px solid;
  border-radius: 2px;
  background-color: transparent;
}
.btn-primary-red, a.btn-primary-red {
  color: white;
  background-color: $color-primary;
  border-color: $color-primary;

  &:hover, &.hover, &:active, &.active, &:focus, &.focus {
    color: white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
  &:hover, &.hover {
    opacity: 0.8;
  }
}
.btn-outline-primary, a.btn-outline-primary {
  color: $color-primary;
  border-color: $color-primary;

  &:hover, &:active, &:visited, &:focus,
  &.hover, &.active, &.visited, &.focus {
    border-color: $color-primary;
    background-color: $color-primary;
  }
}
.btn-xl {
  padding: 0.75rem 5rem;
}
.btn-shadow {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.btn-shadow-white {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 60px rgba(255, 255, 255, 0.2);
}
.btn-bgDeco {
  position: relative;
  z-index: 1;
  width: 13.277777778em;
  height: 5.111111111em;
  color: white!important;
  padding: 1.555555556em 1.5em;

  &::before {
    content: '';
    background: url('../assets/images/bgDeco.svg') no-repeat center/contain;
    position: absolute;
    z-index: -1;
    top: 0.333333333em;
    left: 0.555555556em;
    width: 12.166666667em;
    height: 4em;
    filter: drop-shadow(0px 0.222222222em 0.555555556em rgba(0, 0, 0, 0.5));
  }

  transition: transform .3s;
  &:hover::before {
    transform: rotate(0.008333333turn);
  }
}

.form-control {
  height: 3rem;
  padding: 0.875rem 1rem;
  border-color: #EAE9ED;
  border-radius: .25rem;

  font-size: 0.875rem;
}

/* figure */

.figure-fixed-ratio,
.figure-hr-43,
.figure-hr-53,
.figure-hr-63,
.figure-hr-67,
.figure-hr-80,
.figure-hr-100,
.figure-hr-135,
.figure-wide-md {
  position: relative;
  background-size: cover;
  background-position: center;
}
.figure-hr-43 {
  padding-bottom: 42.7966102%;
}
.figure-hr-53 {
  padding-bottom: 53.3333333%;
}
.figure-hr-63 {
  padding-bottom: 63.4146341%;
}
.figure-hr-67 {
  padding-bottom: 67.1428571%;
}
.figure-hr-80 {
  padding-bottom: 80%;
}
.figure-hr-100 {
  padding-bottom: 100%;
}
.figure-hr-135 {
  padding-bottom: 135%;
}
.figure-wide-md {
  padding-bottom: 53.5714286%;
}

.figure-layered {
  position: relative;

  .figure-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
  }
}

.coloredBox {
  position: relative;
  border-radius: 2px;
  background: #5FAACE;
  color: rgba(255, 255, 255, .9);

  line-height: 1.5em;
  letter-spacing: .062em;

  overflow: hidden;

  &.deco-step::before {
    position: absolute;
    top: -1.25rem;
    left: 66.8292683%;
    line-height: 16.25rem;
    font-size: 18.75rem;
    font-family: 'Josefin Sans';
    font-weight: bold;
    opacity: 0.1;
  }
  @for $i from 1 through 3 {
    &.deco-step-#{$i}::before {
      content: '#{$i}';
    }
  }

  &.coloredBox-red {
    background: #D15648;
  }
  &.coloredBox-yellow {
    background: #E1BC56;
  }

  .coloredBox-title {
    color: white;
    font-size: 2.25em;
    font-weight: 900;
    letter-spacing: .12em;
    text-shadow: 0px 0px 60px rgba(255, 255, 255, 0.25);
  }
}

.card.card-lg {
  border: none;
  border-radius: 2.25rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.agenda-border {
  border-bottom: 1px solid #5D5C61;
}
.agenda-link {
  display: inline-block;
  padding: 1rem;
}
.agenda-link, .agenda-link:hover, .agenda-link:active, .agenda-link:focus, .agenda-link:visited {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.085em;
  color: #241E20;
  opacity: 0.37;

  &.active, &:hover, &:focus {
    opacity: 1;
  }
}

/* hover */
.hover-transparent {
  transition: opacity 0.1s;

  &:hover {
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.hover-zoom-in {
  overflow: hidden;

  & > * {
    transition: transform 0.3s ease-out;
  }

  &:hover {
    & > * {
      transform: scale(1.1, 1.1);
    }
  }
}

/* dl */
.dl {
  & > dt {
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: .085em;
    color: #363636;

    margin-bottom: 1rem;
  }
  & > dd + dt {
    margin-top: 2.5rem;
  }
  & > dd {
    font-size: 0.875rem;
    letter-spacing: .085em;
    color: #4c4c4c;

    margin-bottom: 0.625rem;
  }
}

@import 'shared_md.scss';
