@media (min-width: $breakpoint-md) {
fieldset {
  margin-bottom: 1.5rem;
}
.w-md-75 {
  width: 75% !important;
}
.w-md-80 {
  width: 80% !important;
}
.w-md-85 {
  width: 85% !important;
}
.position-md-absolute {
  position: absolute !important;
}

.h2-deco {
  font-size: 3.75rem;
  $padding-left: 0.75em;
  $padding-top: 0;

  padding-left: $padding-left;
  padding-top: $padding-top;
  background-position: left top 46%;

  &::before, &::after {
    top: $padding-top;
    left: $padding-left + 0.083333333em;
  }
  &::after {
    left: $padding-left;
  }
}

.h2-lg {
  color: #303136;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.2em;

  .h2-deco {
    font-size: 5rem;
    letter-spacing: .1em;

    &::after {
      letter-spacing: .055em;
    }
  }
}

.section-h3 {
  font-size: 2rem;
}

.text-h2 {
  font-size: 2.5rem;
  letter-spacing: .2em;
}

.btn-bgButton {
  width: 14.9375rem;
  height: 5.75rem;
  padding: 1.8125rem 4.5rem;
}

.form-control {
  border-width: 2px;
}
.coloredBox {
  &.deco-step::before {
    left: 66.8292683%;
  }
}

.cross-rounded {
  &.color-md-white {
    border: 1px solid rgba(255,255,255,.8);

    &::before, &::after {
      background-color: white;
    }
  }
}
}

@media (min-width: $breakpoint-sm) {
.w-sm-80 {
  width: 80%;
}
}

@media (min-width: $breakpoint-lg) {
.d-lg-block {
  display: block;
}
}
