a, a:hover, a:active, a:visited {
  color: #241E20;
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  display: block;
}
h1, figure {
  margin-bottom: 0;
}
label {
  margin-bottom: .25rem;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: .062em;
  color: #7E7C83;
}
fieldset {
  margin-bottom: 1rem;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.w-85 {
  width: 85%;
}

.text-h3 {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.062em;
}
.text-h5 {
  font-size: 1.125rem;
  font-weight: 700;
}
.text-14px {
  font-size: 14px;
}
.text-smaller {
  font-size: 0.8em;
}
.text-loose {
  letter-spacing: 0.062em;
  line-height: 1.588235294em;
}
.text-loose-2 {
  letter-spacing: .2em;
}
.text-blue {
  color: $color-blue !important;
  color: #54AED9 !important;
}
.text-gray-4 {
  color: #4c4c4c;
}
.text-gray-8 {
  color: #8c8c8c;
}
.text-shadow-blue {
  text-shadow: 0px 2px 10px rgba(95, 170, 206, 0.2);
}
.text-shadow-white {
  text-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
}
.image-shadow {
  box-shadow: 0 .25rem 1.25rem rgba(0,0,0,.1);
}
.shadow-darker {
  box-shadow: 0 .25rem 1.25rem rgba(0,0,0,.25);
}
.bg-gray {
  background-color: #F7F7F8;
}
.bg-balls {
  background: url(../assets/bg-balls.svg) no-repeat top left 30.555556%/104.1666667% auto;
}

.fonts-article-title {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: .02em;
  color: #303136;
}
.fonts-article-content {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.038em;
  color: #4c4c4c;
}

.btn, a.btn {
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: .02em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.btn-outline-primary {
  border: 2px solid;
  border-radius: 2px;
  background-color: transparent;
}
.btn-primary-red {
  color: white;
  background-color: $color-primary;
  border-color: $color-primary;

  &:hover, &.hover, &:active, &.active, &:focus, &.focus {
    color: white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
  &:hover, &.hover {
    opacity: 0.8;
  }
}
.btn-outline-primary, a.btn-outline-primary {
  color: $color-primary;
  border-color: $color-primary;

  &:hover, &:active, &:visited, &:focus,
  &.hover, &.active, &.visited, &.focus {
    border-color: $color-primary;
    background-color: $color-primary;
  }
}
.btn-xl {
  padding: 0.75rem 5rem;
}

.form-control {
  height: 3rem;
  padding: 0.875rem 1rem;
  border-color: #EAE9ED;
  border-radius: .25rem;

  font-size: 0.875rem;
}

.figure-fixed-ratio,
.figure-hr-43,
.figure-hr-67,
.figure-wide-md {
  background-size: cover;
  background-position: center;
}
.figure-hr-43 {
  padding-bottom: 42.7966102%;
}
.figure-hr-53 {
  padding-bottom: 53.3333333%;
}
.figure-hr-63 {
  padding-bottom: 63.4146341%;
}
.figure-hr-67 {
  padding-bottom: 67.1428571%;
}
.figure-hr-100 {
  padding-bottom: 100%;
}
.figure-hr-135 {
  padding-bottom: 135%;
}
.figure-wide-md {
  padding-bottom: 53.5714286%;
}

.h2-deco {
  font-size: 3rem;
  line-height: 1;
  $padding-left: 0;
  $padding-top: 20px;

  display: inline-block;
  position: relative;
  max-width: 100%;
  padding-left: $padding-left;
  padding-top: $padding-top;
  background: url(../assets/h2Deco.svg) no-repeat left 4px top 0/0.333333333em auto;

  font-family: 'Josefin Sans';
  font-weight: 100;
  letter-spacing: .05em;
  color: inherit;
  opacity: .75;

  text-transform: uppercase;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;

  &::before, &::after {
    content: attr(data-text);
    position: absolute;
    top: $padding-top;
    left: $padding-left + 0.083333333em;
  }

  &::after {
    left: $padding-left;
    font-weight: bold;
    letter-spacing: 0;
    opacity: 0.2;
  }
}

.coloredBox {
  position: relative;
  border-radius: 2px;
  background: #5FAACE;
  color: rgba(255, 255, 255, .9);

  line-height: 1.5em;
  letter-spacing: .062em;

  overflow: hidden;

  &.deco-step::before {
    position: absolute;
    top: -1.25rem;
    left: 66.8292683%;
    line-height: 16.25rem;
    font-size: 18.75rem;
    font-family: 'Josefin Sans';
    font-weight: bold;
    opacity: 0.1;
  }
  @for $i from 1 through 3 {
    &.deco-step-#{$i}::before {
      content: '#{$i}';
    }
  }

  &.coloredBox-red {
    background: #D15648;
  }
  &.coloredBox-yellow {
    background: #E1BC56;
  }

  .coloredBox-title {
    color: white;
    font-size: 2.25em;
    font-weight: 900;
    letter-spacing: .12em;
    text-shadow: 0px 0px 60px rgba(255, 255, 255, 0.25);
  }
}

.card.card-lg {
  border: none;
  border-radius: 2.25rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
