<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/aos.css">
    <link rel="stylesheet" href="assets/app.css">
    <script src="assets/jquery.slim.min.js"></script>
    <script src="assets/bootstrap.bundle.min.js"></script>
    <script src="assets/aos.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap" rel="stylesheet">

    <link href="vendors/simplelightbox/simple-lightbox.min.css" rel="stylesheet" />
    <script src="vendors/simplelightbox/simple-lightbox.jquery.min.js"></script>

    <title>必紅國際 U.AMAZING | 熱檔活動</title>
    <meta name="description" content="夢想必紅 We make you amazing!">

    <meta property="og:title" content="必紅國際 U.AMAZING" />
    <meta property="og:description" content="夢想必紅 We make you amazing!" />
    <meta property="og:image" content="https://uamazing.net/public/og.png" />
  </head>
  <body class="activity">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
      marked.setOptions({
        breaks: true
      });
    </script>
    <script src="assets/apps/events_model.js"></script>

    <nav class="activityNavbar activityNavbar-light navbar navbar-expand-md navbar-light">
      <a class="activityBrand" href="index.html"><img src="assets/logo@2x.png" /></a>

      <div class="d-flex ml-auto d-md-none">
        <a class="nav-link activity-nav-link-secondary pl-1 pr-3 pl-md-2 ml-md-2" target="_blank" href="https://lin.ee/GWTEy4u">
          <img src="assets/images/icon-line.svg" class="activity-nav-icon white" />
          <img src="assets/images/icon-line-black.svg" class="activity-nav-icon black" />
        </a>
        <a class="nav-link activity-nav-link-secondary pl-1 pr-3 pl-md-2 ml-md-2" target="_blank" href="https://www.instagram.com/u_amazing.ltd/">
          <img src="assets/images/icon-ig.svg" class="activity-nav-icon white" />
          <img src="assets/images/icon-ig-black.svg" class="activity-nav-icon black" />
        </a>
        <a class="nav-link activity-nav-link-secondary pl-1 pr-3 pl-md-2 ml-md-2" target="_blank" href="https://www.facebook.com/netredbeauty/">
          <img src="assets/images/icon-fb.svg" class="activity-nav-icon white" />
          <img src="assets/images/icon-fb-black.svg" class="activity-nav-icon black" />
        </a>
      </div>

      <button class="navbar-toggler border-0 ml-0 mr-n3 mr-md-0" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="activityNavbarCollapse collapse navbar-collapse" id="navbar">
        <ul class="activityNavbarMenu navbar-nav w-100 my-4 my-md-1 ml-md-2 pt-4 pt-md-0">
          <li class="nav-item text-center mt-3 mt-md-0 ml-md-3">
            <a class="activity-nav-link" href="about.html">必紅國際事業</a>
          </li>
          <li class="nav-item d-none d-md-none border-bottom border-top text-center my-3">
            <a class="activity-nav-link-secondary my-2" href="about.html">必紅國際</a>
            <a class="activity-nav-link-secondary my-2" href="about/news.html">最新消息</a>
          </li>
          <li class="nav-item text-center mt-2 mt-md-0 ml-md-3">
            <a class="activity-nav-link active current" href="activities.html">熱檔活動</a>
          </li>
          <li class="nav-item text-center mt-2 mt-md-0 ml-md-3 mr-md-auto">
            <a class="activity-nav-link" href="school.html">必紅學院</a>
          </li>
          <li class="nav-item mt-4 mt-md-0">
            <a class="activity-nav-link-red-sparkle mx-2 mr-md-3" href="#" data-toggle="modal" data-target="#googleFormJoin">加入培訓計畫</a>
          </li>
          <li class="nav-item d-none d-md-flex justify-content-end mt-2 mt-md-0 mx-3">
            <a class="activity-nav-link-secondary pl-1 pr-3 pl-md-2" target="_blank" href="https://lin.ee/GWTEy4u">
              <img src="assets/images/icon-line.svg" class="activity-nav-icon white" />
              <img src="assets/images/icon-line-black.svg" class="activity-nav-icon black" />
            </a>
            <a class="activity-nav-link-secondary pl-1 pr-3 pl-md-2" target="_blank" href="https://www.instagram.com/u_amazing.ltd/">
              <img src="assets/images/icon-ig.svg" class="activity-nav-icon white" />
              <img src="assets/images/icon-ig-black.svg" class="activity-nav-icon black" />
            </a>
            <a class="activity-nav-link-secondary pl-1 pr-3 pl-md-2" target="_blank" href="https://www.facebook.com/netredbeauty/">
              <img src="assets/images/icon-fb.svg" class="activity-nav-icon white" />
              <img src="assets/images/icon-fb-black.svg" class="activity-nav-icon black" />
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="" data-app="eventsModel">
      <section class="mx-1440px activities-kv overflow-hidden">
        <figure class="activities-kv-figure">
          <picture>
            <source media="(max-width: 767px)" srcset="public/activities/kv-sm.png" />
            <source media="(min-width: 768px)" srcset="public/activities/kv.png" />
            <img src="public/activities/kv.png" alt="" class="d-block w-100 h-100 img-cover shadow position-relative" data-float value="3" />
          </picture>
          <figcaption class="activities-kv-figcaption activities-kv-float text-center text-md-left shadow" data-float value="5">
            必紅校園選秀活動<br>提供一個發光發熱的舞台!
          </figcaption>
          <img src="public/activities/kv-float1.png" class="activities-kv-float -float1 drop-shadow" data-float value="20">
          <img src="public/activities/kv-float2.png" class="activities-kv-float -float2 drop-shadow" data-float value="30">
          <img src="public/activities/kv-float3.png" class="activities-kv-float -float3 drop-shadow" data-float value="20">
          <img src="public/activities/kv-float4.png" class="activities-kv-float -float4 drop-shadow" data-float value="35">
        </figure>
      </section>

      <section class="activity-framing-x">
        <h2 class="activity-h2 text-center activity-indent-x mb-5">
          <span class="h2-deco mr-5 ml-md-n4 mr-md-4" data-text="on-air">on-air</span>
          <span class="d-inline-block">近期活動</span>
        </h2>

        <div class="pt-lg-5"></div>

        <ul class="row no-gutters px-md-4 px-lg-5">
          <li class="col-md-6 px-0 px-md-4 mb-5">
            <div class="blockAmiba mx-1" data-color="#1797B2">
              <div class="d-flex align-items-end pl-3 px-lg-3 mb-n1">
                <label class="text-white mb-3">/ 表演競賽 /</label>
                <time class="blockAmiba-time ml-auto"><span>5</span><sep>/</sep><span>1</span></time>
              </div>
              <a target="_blank" href="activities/hualian-2022.html">
                <figure class="figure-hr-100 shadow">
                  <img src="public/index/activity1.jpg" class="img-cover" />
                </figure>
              </a>
              <h4 class="text-h6 text-medium mt-4">2022 必紅明星搖籃第一屆花蓮校藝大賽</h4>
              <p>必紅明星搖籃做1場學生為主角的音樂/旅遊派對。<br>本活動邀請花蓮縣市大專院校與高中職校共14所學校做結合，以【歌唱】及【舞蹈】為參賽項目。</p>
            </div>
          </li>
          <li class="col-md-6 px-0 px-md-4 mb-5">
            <div class="blockAmiba mx-1">
              <div class="d-flex align-items-end pl-3 px-lg-3 mb-n1">
                <label class="text-white mb-3">/ 表演競賽 /</label>
                <time class="blockAmiba-time ml-auto"><span>10</span><sep>/</sep><span>22</span></time>
              </div>
              <a target="_blank" href="activities/amazing-voice-2021.html">
                <figure class="figure-hr-100 shadow">
                  <img src="public/activities/amazing-voice-2021/poster1.jpg" class="img-cover" />
                </figure>
              </a>
              <h4 class="text-h6 text-medium mt-4">2021 必紅校際好歌聲 歌唱比賽</h4>
              <p>你空有一身好歌藝，在校園裡卻無人知嗎？<br>表演慾爆棚的你，是否在等待一個機會<br>展現你專業的舞台，就差一個掌聲</p>
            </div>
          </li>
        </ul>
      </section>


      <section class="activity-framing-x mt-5" v-if="events.length > 0">
        <h2 class="activity-h2 text-md-center ml-4 mx-sm-3 mx-md-5 mb-4">
          <span class="h2-deco mr-5 mr-md-4" data-text="events">events</span>
          <span class="d-inline-block">活動檔案</span>
        </h2>
        <div class="row no-gutters ml-4 mx-sm-3 mx-md-5">
          <div class="" :class="{ 'col-6 col-md-3': (groupedEvents[year].length == 1), 'col-12 col-md-6': (groupedEvents[year].length == 2), 'col-12': (groupedEvents[year].length > 2) }" v-for="year in getReverseSortedKeys(groupedEvents)" v-cloak>
            <div class="__activities__events-h2 px-sm-3 px-md-4 mb-2">{{ year }}</div>
            <ul class="row no-gutters">
              <li class="pr-4 p-sm-3 p-md-4" :class="{ 'col-12': (groupedEvents[year].length == 1), 'col-6': (groupedEvents[year].length == 2), 'col-6 col-md-3': (groupedEvents[year].length > 2) }" v-for="event in groupedEvents[year]">
                <div class="d-flex mx-sm-2">
                  <label class="text-gray-5 text-smaller text-nowrap mt-auto mb-3">/ {{ event.type }} /</label>
                  <time class="blockAmiba-time __activities__events-time ml-auto mb-1"><span>{{ event.month }}</span><sep>/</sep><span>{{ event.date }}</span></time>
                </div>
                <figure class="figure-hr-135 w-100 shadow">
                  <img :src="event.cover" class="img-cover" />
                </figure>
                <p class="font-weight-medium mt-3">{{ event.title }}</p>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="bg-gray">
        <div class="activity-framing-x activity-framing-t">
          <h2 class="activity-h2 text-md-center ml-4 mx-sm-3 mx-md-5 mt-2 mb-4 my-md-0">
            <span class="h2-deco mr-4" data-text="Press">Press</span>
            <span class="d-block d-md-inline-block">媒體報導</span>
          </h2>
          <div class="activity-indent-x pb-3 pb-md-4">
            <ul class="row no-gutters mt-3 mb-4 py-md-3 my-md-4">
              <li class="col-12 col-md-4 my-3 px-1 my-md-4 pl-md-0 pr-md-3">
                <div>
                  <a target="_blank" href="https://news.ebc.net.tw/news/living/323870">
                    <figure class="figure-fixed-ratio figure-hr-63" style="background-image: url(public/activities/press2.jpg)"></figure>
                  </a>
                  <div class="activity-grid-title mt-2 mt-md-3">花蓮夏戀之星選拔出爐！必紅國際旗下藝人HIGH FIVE獲「閃亮之星」將登演唱會</div>
                </div>
              </li>
              <!--
              <li class="col-12 col-md-4 my-3 px-1 my-md-4 pl-md-0 pr-md-3">
                <div>
                  <div class="figure-fixed-ratio figure-hr-63">
                    <iframe class="position-absolute w-100 h-100" src="https://www.youtube.com/embed/bYwgrhfgLZ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="activity-grid-title mt-2 mt-md-3">最新》校際歌唱比賽決賽 前三名將發行個人EP @東森新聞 CH51</div>
                </div>
              </li>
              -->
              <li class="col-12 col-md-4 my-3 px-1 my-md-4 px-md-2">
                <div>
                  <div class="figure-fixed-ratio figure-hr-63">
                    <iframe class="position-absolute w-100 h-100" src="https://www.youtube.com/embed/Ua1BLGBtGxY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="activity-grid-title mt-2 mt-md-3">【2021必紅校際好歌聲頒獎典禮】努力為學員打造表演舞台 ! 東森新聞報導</div>
                </div>
              </li>
              <li class="col-12 col-md-4 my-3 px-1 my-md-4 pl-md-3 pr-md-0">
                <div>
                  <a target="_blank" href="https://www.thehubnews.net/archives/75072">
                    <figure class="figure-fixed-ratio figure-hr-63" style="background-image: url(public/activities/press1.jpg)"></figure>
                  </a>
                  <div class="activity-grid-title mt-2 mt-md-3">影音∕《愛玩耍》必紅校際好歌聲 前三名選手EP發行打造專屬「必紅舞台」</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <figure><img src="public/activities/banner1.png" class="w-100 img-fluid"></figure>

      <section class="">
        <div class="activity-framing-x activity-framing-t">
          <h2 class="activity-h2 mt-2 mb-5 px-3 my-md-0 px-md-0">
            <span class="h2-deco mr-md-2" data-text="photos">photos</span>
            <span class="d-inline-block">活動花絮</span>
          </h2>
          <div class="activity-indent-x mt-4 mt-md-5 pt-md-3 pb-md-5">
            <div class="row">
              <div class="col-12 col-md-6 mb-4">
                <div class="gallery">
                  <a href="public/activities/photo1.jpg" class="d-block">
                    <figure class="figure-wide-md" style="background-image:url(public/activities/photo1.jpg)"></figure>
                  </a>
                  <a href="public/activities/gallery/2022-01-15-final/2.jpg"></a>
                  <a href="public/activities/gallery/2022-01-15-final/3.jpg"></a>
                  <a href="public/activities/gallery/2022-01-15-final/4.jpg"></a>
                  <a href="public/activities/gallery/2022-01-15-final/5.jpg"></a>
                  <a href="public/activities/gallery/2022-01-15-final/6.jpg"></a>
                  <a href="public/activities/gallery/2022-01-15-final/7.jpg"></a>
                </div>
                <div class="w-md-75">
                  <div class="text-h4 text-blue text-shadow-blue mt-3 pt-1">校際好歌聲總決賽</div>
                  <p class="activity-grid-p mt-3 pt-1">
                    校際好歌聲總決賽在大直進行，每位參賽者都非常優秀，大成功！台灣的大學生如此優秀！
                    <br><br>
                    來看看大家的精彩表演～
                  </p>
                </div>
              </div>
              <div class="col-12 col-md-6 mb-4">
                <div class="gallery">
                  <a href="public/activities/photo2.jpg" class="d-block">
                    <figure class="figure-wide-md" style="background-image:url(public/activities/photo2.jpg)"></figure>
                  </a>
                  <a href="public/activities/gallery/2022-01-15-awards/2.jpg"></a>
                  <a href="public/activities/gallery/2022-01-15-awards/3.jpg"></a>
                  <a href="public/activities/gallery/2022-01-15-awards/4.jpg"></a>
                  <a href="public/activities/gallery/2022-01-15-awards/5.jpg"></a>
                  <a href="public/activities/gallery/2022-01-15-awards/6.jpg"></a>
                  <a href="public/activities/gallery/2022-01-15-awards/7.jpg"></a>
                  <a href="public/activities/gallery/2022-01-15-awards/8.jpg"></a>
                  <a href="public/activities/gallery/2022-01-15-awards/9.jpg"></a>
                  <a href="public/activities/gallery/2022-01-15-awards/10.jpg"></a>
                </div>
                <div class="w-md-75">
                  <div class="text-h4 text-blue text-shadow-blue mt-3 pt-1">校際好歌聲頒獎典禮</div>
                  <p class="activity-grid-p mt-3 pt-1">
                    校際好歌聲總決賽在大直進行，每位參賽者都非常優秀，大成功！台灣的大學生如此優秀！
                    <br>
                    <br>
                    來看看大家的精彩表演～
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <figure><img src="public/activities/banner2.png" class="w-100 img-fluid"></figure>
    </main>

    <footer class="footer">
      <div class="footer-background-blur"></div>
      <div class="footer-body pl-md-4">
        <menu class="d-flex flex-wrap justify-content-end justify-content-md-start text-right text-md-left mt-5 mt-md-0">
          <li class="d-flex flex-column flex-md-row mb-3 mr-md-5 mb-md-5">
            <div class="text-h6 text-white mr-md-4 mb-2">大型活動 <span class="slash"></span></div>
            <ul class="text-right text-md-left">
              <li class="text-p-lg text-break mb-2"><a>音樂節</a></li>
              <li class="text-p-lg text-break mb-2"><a>鄉鎮市集活動</a></li>
            </ul>
          </li>
          <li class="d-flex flex-column flex-md-row mb-3 mr-md-5 mb-md-5">
            <div class="text-h6 text-white mr-md-4 mb-2">校園活動 <span class="slash"></span></div>
            <ul class="text-right text-md-left">
              <li class="text-p-lg text-break mb-2"><a>校園海選</a></li>
              <li class="text-p-lg text-break mb-2"><a>校園特派記者</a></li>
            </ul>
          </li>
          <li class="d-flex flex-column flex-md-row mb-3 mr-md-5 mb-md-5">
            <div class="text-h6 text-white mr-md-4 mb-2">培訓資源 <span class="slash"></span></div>
            <ul class="text-right text-md-left">
              <li class="text-p-lg text-break mb-2"><a>線上教育平台</a></li>
              <li class="text-p-lg text-break mb-2"><a>共學教育平台</a></li>
            </ul>
          </li>
          <li class="d-flex flex-column flex-md-row mb-3 mr-md-5 mb-md-5">
            <div class="text-h6 text-white mr-md-4 mb-2">聯盟組織 <span class="slash"></span></div>
            <ul class="text-right text-md-left">
              <li class="text-p-lg text-break mb-2"><a>國際合作企業發展 GS1 Taiwan</a></li>
              <li class="text-p-lg text-break mb-2"><a>我享平台</a></li>
              <li class="text-p-lg text-break mb-2"><a>必紅TV</a></li>
            </ul>
          </li>
        </menu>
        <div class="mt-3 mt-md-5"></div>
        <div class="footer-text-company text-center text-white">必紅國際股份有限公司</span>
        <div class="text-center footer-copyright mt-2">
          COPYRIGHT © 2022
          <!--
          <a href="" class="ml-3">隱私權政策</a>
          -->
        </div>
      </div>
    </footer>

    <div id="googleFormJoin" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:#f6f6f6">
          <div class="modal-body px-0">
            <button type="button" class="close pr-3" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="d-md-none">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScCKDCN-jKl8Xnu9U8FiN40EQhDNvNPBNsrhprp60kmCsiqzg/viewform?embedded=true" width="100%" height="1600" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
            </div>
            <div class="d-none d-md-block">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScCKDCN-jKl8Xnu9U8FiN40EQhDNvNPBNsrhprp60kmCsiqzg/viewform?embedded=true" width="498" height="1600" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="assets/app.js"></script>
    <script src="assets/apps/activities/index.js"></script>
    <script src="assets/cursor_effects.js"></script>
  </body>
</html>
