<!DOCTYPE html>
<html lang="">
  <head>
    <base href="../">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/aos.css">
    <link rel="stylesheet" href="assets/app.css?1">
    <script src="assets/jquery.slim.min.js"></script>
    <script src="assets/bootstrap.bundle.min.js"></script>
    <script src="assets/aos.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap" rel="stylesheet">

    <link href="vendors/simplelightbox/simple-lightbox.min.css" rel="stylesheet" />
    <script src="vendors/simplelightbox/simple-lightbox.jquery.min.js"></script>

    <title>最新消息 | 必紅國際 U.AMAZING</title>
    <meta name="description" content="夢想必紅 We make you amazing!">

    <meta property="og:title" content="必紅國際 U.AMAZING - 最新消息" />
    <meta property="og:description" content="夢想必紅 We make you amazing!" />
    <meta property="og:image" content="https://uamazing.net/public/og.png" />
  </head>
  <body class="about">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
      marked.setOptions({
        breaks: true
      });
    </script>
    <script src="assets/apps/news_app.js"></script>

    <nav class="activityNavbar activityNavbar-light navbar navbar-expand-md navbar-light">
      <a class="activityBrand" href="index.html"><img src="assets/logo@2x.png" /></a>

      <div class="d-flex ml-auto d-md-none">
        <a class="nav-link activity-nav-link-secondary pl-1 pr-3 pl-md-2 ml-md-2" target="_blank" href="https://lin.ee/GWTEy4u">
          <img src="assets/images/icon-line.svg" class="activity-nav-icon white" />
          <img src="assets/images/icon-line-black.svg" class="activity-nav-icon black" />
        </a>
        <a class="nav-link activity-nav-link-secondary pl-1 pr-3 pl-md-2 ml-md-2" target="_blank" href="https://www.instagram.com/u_amazing.ltd/">
          <img src="assets/images/icon-ig.svg" class="activity-nav-icon white" />
          <img src="assets/images/icon-ig-black.svg" class="activity-nav-icon black" />
        </a>
        <a class="nav-link activity-nav-link-secondary pl-1 pr-3 pl-md-2 ml-md-2" target="_blank" href="https://www.facebook.com/netredbeauty/">
          <img src="assets/images/icon-fb.svg" class="activity-nav-icon white" />
          <img src="assets/images/icon-fb-black.svg" class="activity-nav-icon black" />
        </a>
      </div>

      <button class="navbar-toggler border-0 ml-0 mr-n3 mr-md-0" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="activityNavbarCollapse collapse navbar-collapse" id="navbar">
        <ul class="activityNavbarMenu navbar-nav w-100 my-4 my-md-1 ml-md-2 pt-4 pt-md-0">
          <li class="nav-item text-center mt-3 mt-md-0 ml-md-3">
            <a class="activity-nav-link active current" href="about.html">必紅國際事業</a>
          </li>
          <li class="nav-item d-md-none border-bottom border-top text-center my-3">
            <a class="activity-nav-link-secondary my-2" href="about.html">必紅國際</a>
            <a class="activity-nav-link-secondary my-2" href="about/starzone.html">必紅明星學院</a>
            <a class="activity-nav-link-secondary my-2 active current" href="about/news.html">最新消息</a>
          </li>
          <li class="nav-item text-center mt-2 mt-md-0 ml-md-3">
            <a class="activity-nav-link" href="activities.html">熱檔活動</a>
          </li>
          <li class="nav-item text-center mt-2 mt-md-0 ml-md-3 mr-md-auto">
            <a class="activity-nav-link" href="school.html">必紅學院</a>
          </li>
          <li class="nav-item mt-4 mt-md-0">
            <a class="activity-nav-link-red-sparkle mx-2 mr-md-3" href="#" data-toggle="modal" data-target="#googleFormJoin">加入培訓計畫</a>
          </li>
          <li class="nav-item d-none d-md-flex justify-content-end mt-2 mt-md-0 mx-3">
            <a class="activity-nav-link-secondary pl-1 pr-3 pl-md-2" target="_blank" href="https://lin.ee/GWTEy4u">
              <img src="assets/images/icon-line.svg" class="activity-nav-icon white" />
              <img src="assets/images/icon-line-black.svg" class="activity-nav-icon black" />
            </a>
            <a class="activity-nav-link-secondary pl-1 pr-3 pl-md-2" target="_blank" href="https://www.instagram.com/u_amazing.ltd/">
              <img src="assets/images/icon-ig.svg" class="activity-nav-icon white" />
              <img src="assets/images/icon-ig-black.svg" class="activity-nav-icon black" />
            </a>
            <a class="activity-nav-link-secondary pl-1 pr-3 pl-md-2" target="_blank" href="https://www.facebook.com/netredbeauty/">
              <img src="assets/images/icon-fb.svg" class="activity-nav-icon white" />
              <img src="assets/images/icon-fb-black.svg" class="activity-nav-icon black" />
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="about-aside-deco">
      <div class="about-aside-deco-line"></div>
      <div>
        <div class="about-aside-deco-point"></div>
        <div class="about-aside-deco-point"></div>
        <div class="about-aside-deco-point"></div>
        <div class="about-aside-deco-point"></div>
        <div class="about-aside-deco-point"></div>
        <div class="about-aside-deco-point"></div>
        <div class="about-aside-deco-point"></div>
        <div class="about-aside-deco-point"></div>
      </div>
    </div>

    <main id="newsApp" class="overflow-hidden">
      <section class="">
        <picture class="mw-100">
          <source media="(max-width: 767px)" srcset="public/about/kv1-m.jpg">
          <source media="(min-width: 768px)" srcset="public/about/kv1.png">
          <img src="public/about/kv1.png" class="img-fluid">
        </picture>
          <!--
        <figure class="about-kv figure-hr-43" style="background-image:url(public/about/kv1.png)">
          <figcaption class="d-flex flex-column align-items-center justify-content-center px-4">
            <p class="about-kv-logo mt-n5 mt-md-0"><img src="assets/logo@2x.png" class="img-fluid" ></p>
            <p class="mx-3 mt-1">必紅國際在藝文領域耕耘，為新人打造沃土，激發更好的發展環境。</p>
          </figcaption>
        </figure>
          -->
      </section>

      <div class="border-bottom d-none d-md-block">
        <nav class="__about__nav">
          <a href="about.html" class="__about__nav-item">必紅國際</a>
          <a href="about/starzone.html" class="__about__nav-item">必紅明星學院</a>
          <a href="about/news.html" class="__about__nav-item active">最新消息</a>
        </nav>
      </div>

      <div class="mt-3 pt-md-3"></div>
      <h2 class="text-h2 text-center my-5">
        <span class="h2-deco mr-sm-2" data-text="News">News</span>
        <span class="d-block d-sm-inline-block mt-3 ml-md-4">最新消息</span>
      </h2>

      <div v-for="year in getReverseSortedKeys(groupedNewses)" v-cloak>
        <div class="text-center __about__news-h2">- {{ year }} -</div>

        <section class="w-85 mx-auto mt-4 mb-5" v-for="month in getReverseSortedKeys(groupedNewses[year])">
          <div class="__about__news-h3" :class="groupedNewses[year][month][0]['class']">{{ month }}月</div>
          <hr class="mt-2" />
          <ul>
            <li class="d-flex pt-3 my-3 py-md-4" v-for="news in groupedNewses[year][month]">
              <div class="mr-4 __about__news-date">{{ news['month'] }}/{{ news['date'] }}</div>
              <div class="d-flex flex-wrap flex-md-nowrap">
                <a href="#newsArtical" data-toggle="modal" data-target="#newsArtical" @click="currentNews = news">
                  <figure class="__about__news-image mr-4 border"><img :src="news['cover']" class="img-cover" /></figure>
                </a>
                <a href="#newsArtical" data-toggle="modal" data-target="#newsArtical" @click="currentNews = news">
                  <div class="mt-4 mt-md-0 ml-md-3">
                    <h5 class="text-h5 text-bold mb-3 mb-md-4">{{ news['title'] }}</h5>
                    <div class="text-p" v-html="news['first_paragraph']"></div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </section>
      </div>


      <div id="newsArtical" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-head">
              <button type="button" class="close mt-2 mr-2 mt-md-3 mr-md-n5" data-dismiss="modal" aria-label="Close">
                <span class="cross-rounded color-md-white"></span>
              </button>
            </div>
            <div class="modal-body px-4 px-md-5 pb-4">
              <h5 class="text-h5 text-bold mr-2 mt-n4">{{ currentNews['title'] }}</h5>
              <div class="__about__news-date text-right ml-auto mb-2">{{ currentNews['year'] }}/{{ currentNews['month'] }}/{{ currentNews['date'] }}</div>

              <figure class="mb-4"><img :src="currentNews['cover']" class="img-cover" /></figure>

              <div class="markdown" v-html="currentNews['html']"></div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="footer-background-blur"></div>
      <div class="footer-body pl-md-4">
        <menu class="d-flex flex-wrap justify-content-end justify-content-md-start text-right text-md-left mt-5 mt-md-0">
          <li class="d-flex flex-column flex-md-row mb-3 mr-md-5 mb-md-5">
            <div class="text-h6 text-white mr-md-4 mb-2">大型活動 <span class="slash"></span></div>
            <ul class="text-right text-md-left">
              <li class="text-p-lg text-break mb-2"><a>音樂節</a></li>
              <li class="text-p-lg text-break mb-2"><a>鄉鎮市集活動</a></li>
            </ul>
          </li>
          <li class="d-flex flex-column flex-md-row mb-3 mr-md-5 mb-md-5">
            <div class="text-h6 text-white mr-md-4 mb-2">校園活動 <span class="slash"></span></div>
            <ul class="text-right text-md-left">
              <li class="text-p-lg text-break mb-2"><a>校園海選</a></li>
              <li class="text-p-lg text-break mb-2"><a>校園特派記者</a></li>
            </ul>
          </li>
          <li class="d-flex flex-column flex-md-row mb-3 mr-md-5 mb-md-5">
            <div class="text-h6 text-white mr-md-4 mb-2">培訓資源 <span class="slash"></span></div>
            <ul class="text-right text-md-left">
              <li class="text-p-lg text-break mb-2"><a>線上教育平台</a></li>
              <li class="text-p-lg text-break mb-2"><a>共學教育平台</a></li>
            </ul>
          </li>
          <li class="d-flex flex-column flex-md-row mb-3 mr-md-5 mb-md-5">
            <div class="text-h6 text-white mr-md-4 mb-2">聯盟組織 <span class="slash"></span></div>
            <ul class="text-right text-md-left">
              <li class="text-p-lg text-break mb-2"><a>國際合作企業發展 GS1 Taiwan</a></li>
              <li class="text-p-lg text-break mb-2"><a>我享平台</a></li>
              <li class="text-p-lg text-break mb-2"><a>必紅TV</a></li>
            </ul>
          </li>
        </menu>
        <div class="mt-3 mt-md-5"></div>
        <div class="footer-text-company text-center text-white">必紅國際股份有限公司</span>
        <div class="text-center footer-copyright mt-2">
          COPYRIGHT © 2022
          <!--
          <a href="" class="ml-3">隱私權政策</a>
          -->
        </div>
      </div>
    </footer>

    <div id="googleFormJoin" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:#f6f6f6">
          <div class="modal-body px-0">
            <button type="button" class="close pr-3" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="d-md-none">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScCKDCN-jKl8Xnu9U8FiN40EQhDNvNPBNsrhprp60kmCsiqzg/viewform?embedded=true" width="100%" height="1600" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
            </div>
            <div class="d-none d-md-block">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScCKDCN-jKl8Xnu9U8FiN40EQhDNvNPBNsrhprp60kmCsiqzg/viewform?embedded=true" width="498" height="1600" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="assets/app.js"></script>
  </body>
</html>
