@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
.carouselBox {
  position: relative;
  overflow: hidden; }
  .carouselBox > :nth-child(n) {
    transition: left 0.6s;
    transition-timing-function: ease-in-out; }
  .carouselBox > :first-child {
    position: relative; }
  .carouselBox > :nth-child(n+2) {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }
  .carouselBox > :nth-child(1) {
    left: 0%; }
  .carouselBox.show-nth-1 > :nth-child(1) {
    left: 0%; }
  .carouselBox.show-nth-1 > :nth-child(2) {
    left: 100%; }
  .carouselBox.show-nth-1 > :nth-child(3) {
    left: 200%; }
  .carouselBox.show-nth-1 > :nth-child(4) {
    left: 300%; }
  .carouselBox.show-nth-1 > :nth-child(5) {
    left: 400%; }
  .carouselBox > :nth-child(2) {
    left: 100%; }
  .carouselBox.show-nth-2 > :nth-child(1) {
    left: -100%; }
  .carouselBox.show-nth-2 > :nth-child(2) {
    left: 0%; }
  .carouselBox.show-nth-2 > :nth-child(3) {
    left: 100%; }
  .carouselBox.show-nth-2 > :nth-child(4) {
    left: 200%; }
  .carouselBox.show-nth-2 > :nth-child(5) {
    left: 300%; }
  .carouselBox > :nth-child(3) {
    left: 200%; }
  .carouselBox.show-nth-3 > :nth-child(1) {
    left: -200%; }
  .carouselBox.show-nth-3 > :nth-child(2) {
    left: -100%; }
  .carouselBox.show-nth-3 > :nth-child(3) {
    left: 0%; }
  .carouselBox.show-nth-3 > :nth-child(4) {
    left: 100%; }
  .carouselBox.show-nth-3 > :nth-child(5) {
    left: 200%; }
  .carouselBox > :nth-child(4) {
    left: 300%; }
  .carouselBox.show-nth-4 > :nth-child(1) {
    left: -300%; }
  .carouselBox.show-nth-4 > :nth-child(2) {
    left: -200%; }
  .carouselBox.show-nth-4 > :nth-child(3) {
    left: -100%; }
  .carouselBox.show-nth-4 > :nth-child(4) {
    left: 0%; }
  .carouselBox.show-nth-4 > :nth-child(5) {
    left: 100%; }
  .carouselBox > :nth-child(5) {
    left: 400%; }
  .carouselBox.show-nth-5 > :nth-child(1) {
    left: -400%; }
  .carouselBox.show-nth-5 > :nth-child(2) {
    left: -300%; }
  .carouselBox.show-nth-5 > :nth-child(3) {
    left: -200%; }
  .carouselBox.show-nth-5 > :nth-child(4) {
    left: -100%; }
  .carouselBox.show-nth-5 > :nth-child(5) {
    left: 0%; }

.carouselControl {
  position: relative;
  z-index: 10; }

.bubbles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 22.2222222vw; }

.bubbles-item {
  border-radius: 50%;
  overflow: hidden; }
  .bubbles-item:first-of-type {
    margin-top: 2.0833333vw;
    width: calc(8.3333333vw * 2);
    height: calc(8.3333333vw * 2); }
  .bubbles-item:nth-of-type(2) {
    margin-top: 7.2916667vw;
    margin-left: 6.9444444vw;
    width: calc(13.8888889vw * 2);
    height: calc(13.8888889vw * 2);
    z-index: 20; }
  .bubbles-item:nth-of-type(3) {
    margin-left: -2.2222222vw;
    width: calc(17.3611111vw * 2);
    height: calc(17.3611111vw * 2); }
  .bubbles-item:nth-of-type(4) {
    margin-top: -1.5277778vw;
    margin-left: -8.6388889vw;
    width: calc(12.5vw * 2);
    height: calc(12.5vw * 2); }
  .bubbles-item:nth-of-type(5) {
    margin-top: 8.9583333vw;
    margin-left: 24.125vw;
    width: calc(8.3333333vw * 2);
    height: calc(8.3333333vw * 2); }

@media (min-width: 768px) {
  .bubbles-item:first-of-type {
    margin-top: 2.0833333vw;
    width: 8.3333333vw;
    height: 8.3333333vw; }
  .bubbles-item:nth-of-type(2) {
    margin-top: 7.2916667vw;
    margin-left: 6.9444444vw;
    width: 13.8888889vw;
    height: 13.8888889vw;
    z-index: 20; }
  .bubbles-item:nth-of-type(3) {
    margin-left: -2.2222222vw;
    width: 17.3611111vw;
    height: 17.3611111vw; }
  .bubbles-item:nth-of-type(4) {
    margin-top: 11.5277778vw;
    margin-left: 2.6388889vw;
    width: 8.3333333vw;
    height: 8.3333333vw; }
  .bubbles-item:nth-of-type(5) {
    margin-top: 3.9583333vw;
    margin-left: 8.125vw;
    width: 12.5vw;
    height: 12.5vw; } }
@font-face {
  font-family: "Microsoft JhengHei";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("Microsoft JhengHei"), url("../assets/msjh.ttf") format("ttf"); }
@font-face {
  font-family: "Microsoft JhengHei";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local("Microsoft JhengHei"), url("../assets/msjhbd.ttf") format("ttf"); }
html {
  font-size: 16px; }

body {
  font-family: 'Noto Sans TC', "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body.index {
  background-color: #241E20; }

body.activity {
  background-color: #ffffff;
  color: #4C4C4C; }

body.school {
  padding-top: 3.37rem; }

body.content {
  background-color: #F1F1F3;
  color: #4C4C4C; }

.pt-navbar {
  padding-top: 48px; }

.indexBrand > img {
  width: 3.75rem; }

.sidebar, .indexNavbar {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  background-color: #241E20;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/ }

.sidebar > .indexBrand, .indexNavbar > .indexBrand {
  margin-bottom: calc(-1 * 3.75rem / 2); }

.sidebarMenuItem > a, .indexNavbarMenuItem > a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: right; }

.sidebarMenuItem > a, .indexNavbarMenuItem > a {
  line-height: 1.2;
  letter-spacing: .1em;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7); }
  .sidebarMenuItem > a:hover, .sidebarMenuItem > a.hover, .sidebarMenuItem > a:active, .sidebarMenuItem > a.active, .sidebarMenuItem > a:visited, .sidebarMenuItem > a.visited, .indexNavbarMenuItem > a:hover, .indexNavbarMenuItem > a.hover, .indexNavbarMenuItem > a:active, .indexNavbarMenuItem > a.active, .indexNavbarMenuItem > a:visited, .indexNavbarMenuItem > a.visited {
    color: white; }

.sidebarMenuItem, .indexNavbarMenuItem {
  position: relative; }
  .sidebarMenuItem > a::after, .indexNavbarMenuItem > a::after {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: calc(100% - 3px);
    width: 5px;
    background-color: white;
    transition: top .3s, bottom .3s;
    transition-timing-function: ease-out; }
  .sidebarMenuItem > a:hover::after, .indexNavbarMenuItem > a:hover::after {
    top: -1rem;
    bottom: -1rem; }

.index-fixed-bg {
  padding-top: 59.0277778%;
  background: no-repeat top center/100% auto;
  overflow: auto; }

.bg-slogan1 {
  background-image: url(../assets/slogan_text1.svg), url(../assets/slogan_bg1.jpg);
  background-position: top 10.625vw left 12.8472222vw, top center;
  background-size: 41.8055556%, 100% auto; }

.bg-slogan2 {
  background-image: url(../assets/slogan_text2.svg), url(../assets/slogan_bg2.jpg);
  background-position: top 23.125vw left 12.9166667vw, top center;
  background-size: 28.8888889%, 100% auto; }

.footer {
  min-height: 50vh;
  background-color: #241E20; }

.footer-body {
  margin: 0 auto;
  width: 80%;
  max-width: 60rem;
  padding: 5rem 0 1rem;
  color: #929295; }

.footer-body a, .footer-body a:hover, .footer-body a:active, .footer-body a:visited {
  color: #929295; }
  .footer-body a.text-blue, .footer-body a:hover.text-blue, .footer-body a:active.text-blue, .footer-body a:visited.text-blue {
    color: #5FAACE; }

.footer-title {
  color: #EAE9ED;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: .2em; }

.footer-dl > dt {
  margin-bottom: .25rem;
  font-weight: 900; }
.footer-dl > dd + dt {
  margin-top: 2rem; }
.footer-dl > dd {
  color: #929295; }

.footer-copyright {
  font-size: 0.75rem;
  color: #929295; }

.fixed-bg {
  height: 100vh;
  padding: 100px;
  background: yellow url("logo@2x.png") no-repeat top left;
  overflow: auto; }
  .fixed-bg p {
    height: 150vh;
    background: blue; }

.bgAnimation, .bgAnimation.bg-slogan1 {
  background-position: top 10.625vw left 12.8472222vw, top left;
  background-size: 41.8055556%, auto 100%; }
  .bgAnimation.start, .bgAnimation.bg-slogan1.start {
    background-size: 41.8055556%, auto 110%;
    transition: background-size 8s;
    transition-timing-function: linear; }
  .bgAnimation.bg-slogan2, .bgAnimation.bg-slogan1.bg-slogan2 {
    background-position: top 23.125vw left 12.9166667vw, top center;
    background-size: 28.8888889%, auto 66vw; }
    .bgAnimation.bg-slogan2.start, .bgAnimation.bg-slogan1.bg-slogan2.start {
      background-size: 28.8888889%, auto 60vw; }

a, a:hover, a:active, a:visited {
  color: #241E20;
  text-decoration: none; }

ul {
  padding: 0; }

li {
  display: block; }

h1, figure {
  margin-bottom: 0; }

label {
  margin-bottom: .25rem;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: .062em;
  color: #7E7C83; }

fieldset {
  margin-bottom: 1rem; }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.w-85 {
  width: 85%; }

.text-h3 {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.062em; }

.text-h5 {
  font-size: 1.125rem;
  font-weight: 700; }

.text-14px {
  font-size: 14px; }

.text-smaller {
  font-size: 0.8em; }

.text-loose {
  letter-spacing: 0.062em;
  line-height: 1.588235294em; }

.text-loose-2 {
  letter-spacing: .2em; }

.text-blue {
  color: #5FAACE !important;
  color: #54AED9 !important; }

.text-gray-4 {
  color: #4c4c4c; }

.text-gray-8 {
  color: #8c8c8c; }

.text-shadow-blue {
  text-shadow: 0px 2px 10px rgba(95, 170, 206, 0.2); }

.text-shadow-white {
  text-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2); }

.shadow-darker {
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.25); }

.bg-gray {
  background-color: #F7F7F8; }

.bg-balls {
  background: url(../assets/bg-balls.svg) no-repeat top left 30.555556%/104.1666667% auto; }

.fonts-article-title {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: .02em;
  color: #303136; }

.fonts-article-content {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.038em;
  color: #4c4c4c; }

.btn, a.btn {
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: .02em;
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.btn-outline-primary {
  border: 2px solid;
  border-radius: 2px;
  background-color: transparent; }

.btn-primary-red {
  color: white;
  background-color: #B3292C;
  border-color: #B3292C; }
  .btn-primary-red:hover, .btn-primary-red.hover, .btn-primary-red:active, .btn-primary-red.active, .btn-primary-red:focus, .btn-primary-red.focus {
    color: white;
    background-color: #B3292C;
    border-color: #B3292C; }
  .btn-primary-red:hover, .btn-primary-red.hover {
    opacity: 0.8; }

.btn-outline-primary, a.btn-outline-primary {
  color: #B3292C;
  border-color: #B3292C; }
  .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited, .btn-outline-primary:focus, .btn-outline-primary.hover, .btn-outline-primary.active, .btn-outline-primary.visited, .btn-outline-primary.focus, a.btn-outline-primary:hover, a.btn-outline-primary:active, a.btn-outline-primary:visited, a.btn-outline-primary:focus, a.btn-outline-primary.hover, a.btn-outline-primary.active, a.btn-outline-primary.visited, a.btn-outline-primary.focus {
    border-color: #B3292C;
    background-color: #B3292C; }

.btn-xl {
  padding: 0.75rem 5rem; }

.form-control {
  height: 3rem;
  padding: 0.875rem 1rem;
  border-color: #EAE9ED;
  border-radius: .25rem;
  font-size: 0.875rem; }

.figure-fixed-ratio,
.figure-hr-43,
.figure-hr-67,
.figure-wide-md {
  background-size: cover;
  background-position: center; }

.figure-hr-43 {
  padding-bottom: 42.7966102%; }

.figure-hr-53 {
  padding-bottom: 53.3333333%; }

.figure-hr-67 {
  padding-bottom: 67.1428571%; }

.figure-hr-100 {
  padding-bottom: 100%; }

.figure-wide-md {
  padding-bottom: 53.5714286%; }

.h2-deco {
  font-size: 3rem;
  line-height: 1;
  display: inline-block;
  position: relative;
  max-width: 100%;
  padding-left: 0;
  padding-top: 20px;
  background: url(../assets/h2Deco.svg) no-repeat left 4px top 0/0.333333333em auto;
  font-family: 'Josefin Sans';
  font-weight: 100;
  letter-spacing: .05em;
  color: inherit;
  opacity: .75;
  text-transform: uppercase;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden; }
  .h2-deco::before, .h2-deco::after {
    content: attr(data-text);
    position: absolute;
    top: 20px;
    left: 0.083333333em; }
  .h2-deco::after {
    left: 0;
    font-weight: bold;
    letter-spacing: 0;
    opacity: 0.2; }

.coloredBox {
  position: relative;
  border-radius: 2px;
  background: #5FAACE;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.5em;
  letter-spacing: .062em;
  overflow: hidden; }
  .coloredBox.deco-step::before {
    position: absolute;
    top: -1.25rem;
    left: 66.8292683%;
    line-height: 16.25rem;
    font-size: 18.75rem;
    font-family: 'Josefin Sans';
    font-weight: bold;
    opacity: 0.1; }
  .coloredBox.deco-step-1::before {
    content: "1"; }
  .coloredBox.deco-step-2::before {
    content: "2"; }
  .coloredBox.deco-step-3::before {
    content: "3"; }
  .coloredBox.coloredBox-red {
    background: #D15648; }
  .coloredBox.coloredBox-yellow {
    background: #E1BC56; }
  .coloredBox .coloredBox-title {
    color: white;
    font-size: 2.25em;
    font-weight: 900;
    letter-spacing: .12em;
    text-shadow: 0px 0px 60px rgba(255, 255, 255, 0.25); }

.card.card-lg {
  border: none;
  border-radius: 2.25rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); }

@media (min-width: 768px) {
  fieldset {
    margin-bottom: 1.5rem; }

  .w-md-75 {
    width: 75% !important; }

  .h2-deco {
    font-size: 4.5rem;
    padding-left: 0.75em;
    padding-top: 0;
    background-position: left top 46%; }
    .h2-deco::before, .h2-deco::after {
      top: 0;
      left: 0.833333333em; }
    .h2-deco::after {
      left: 0.75em; }

  .form-control {
    border-width: 2px; }

  .coloredBox.deco-step::before {
    left: 66.8292683%; } }
@media (min-width: 768px) {
  html {
    font-size: 16px; }

  body.school {
    padding-top: 0; }

  .pt-navbar {
    padding-top: 0; }

  .indexBrand > img {
    width: 5.625rem; }

  .indexNavbar.navbar {
    padding-left: 0;
    padding-right: 0; }

  .indexNavbar .navbar-collapse {
    display: block !important;
    width: 100%; }

  .sidebar, .indexNavbar {
    bottom: 0;
    width: 88px;
    background-color: transparent;
    border: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.5); }

  .sidebar, .indexNavbar {
    flex-direction: column;
    padding-top: 8.125rem; }
    .sidebar > .indexBrand, .indexNavbar > .indexBrand {
      position: fixed;
      top: 1.25rem;
      left: 2.625rem; }

  .indexNavbarMenuWraper {
    position: relative; }
    .indexNavbarMenuWraper .sidebarMenu, .indexNavbarMenuWraper .indexNavbarMenu {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      padding-bottom: 1rem;
      overflow-y: auto; }

  .sidebarMenuItem > a, .indexNavbarMenuItem > a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.25rem;
    width: 1.25rem; }

  .sidebarMenuItem > a, .indexNavbarMenuItem > a {
    font-size: 1.125rem;
    line-height: 1.2;
    letter-spacing: initial;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7); }
    .sidebarMenuItem > a:hover, .indexNavbarMenuItem > a:hover {
      color: white; }

  .sidebarMenuItem, .indexNavbarMenuItem {
    position: relative; }
    .sidebarMenuItem > a::after, .indexNavbarMenuItem > a::after {
      content: '';
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: calc(100% - 3px);
      width: 5px;
      background-color: white;
      transition: top .3s, bottom .3s;
      transition-timing-function: ease-out; }
    .sidebarMenuItem > a:hover::after, .indexNavbarMenuItem > a:hover::after {
      top: -1rem;
      bottom: -1rem; }

  /*
  .margin-md-left-sidebar {
    margin-left: 5.5rem;
  }
  */
  .index-margin-left {
    margin-left: 9.5rem; }

  .index-fixed-bg {
    padding-top: 100vh;
    height: 100vh;
    background-size: cover;
    overflow: auto; }

  .bg-slogan1 {
    background-position: top 18vh left 12.8472222vw, top center;
    background-size: auto, cover; }

  .bg-slogan2 {
    background-size: auto, cover; }

  .footer-body {
    padding: 6.2rem 0 2rem; }

  .bgAnimation, .bgAnimation.bg-slogan1 {
    background-position: top 18vh left 12.8472222vw, top left;
    background-size: auto, 100% auto; }
    .bgAnimation.start, .bgAnimation.bg-slogan1.start {
      background-size: auto, 110% auto;
      transition: background-size 8s;
      transition-timing-function: linear; }
    .bgAnimation.bg-slogan2, .bgAnimation.bg-slogan1.bg-slogan2 {
      background-position: top 23.125vw left 12.9166667vw, top right;
      background-size: auto, auto 110%; }
      .bgAnimation.bg-slogan2.start, .bgAnimation.bg-slogan1.bg-slogan2.start {
        background-size: auto, auto 100%; } }
.bg-purple {
  background: url(../assets/bg-purple.jpg) bottom center/auto 100vh; }

.index-h2 {
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  line-height: 2em; }

.index-h2-blue {
  color: #61B7E0;
  text-shadow: 0px 2px 40px rgba(255, 255, 255, 0.5); }

.index-h2-deco {
  height: 3.75rem; }

.index-content-overlap {
  margin-top: -18.0555556%; }

.index-portfolios-figure {
  position: relative;
  margin: 0; }
  .index-portfolios-figure > img {
    border-radius: 1px; }
  .index-portfolios-figure > figcaption {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center; }
  .index-portfolios-figure > figcaption {
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.12em;
    color: white; }

.borderedBox-light {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background: #EAE9ED;
  border: 15px solid #FFFFFF;
  border-radius: 2.25rem; }

.borderedBox-topImage {
  position: relative;
  z-index: 10;
  margin-bottom: -10%;
  left: 50%;
  width: 68%;
  margin-left: calc( -0.5 * 68%);
  text-align: center; }
  .borderedBox-topImage > img {
    filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.37)); }
  .borderedBox-topImage + .borderedBox-light {
    padding-top: 7%; }

.index-bg-activity {
  background: url(../public/index/bg-activity.png) no-repeat top center/cover; }

.index-activity-poster {
  width: 100%; }

.index-page-control-container {
  position: relative; }

.index-page-control {
  display: flex;
  overflow: hidden;
  margin-left: 7.5vw; }
  .index-page-control .index-page-button {
    margin-right: -7.5vw;
    margin-bottom: -7.5vw;
    width: 40vw;
    height: 40vw;
    line-height: 40vw;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: .2;
    color: #fff;
    font-family: 'Josefin Sans';
    font-size: 3rem;
    font-weight: 100; }
    .index-page-control .index-page-button.active {
      opacity: .67; }

.index-bg-press {
  background: url(bg-star.svg) no-repeat 350% -10%/92.3611111% auto; }

@media (min-width: 768px) {
  .bg-purple {
    background-size: cover; }

  .index-h2 {
    font-size: 2.5rem; }

  .index-h2-deco {
    height: auto; }

  .index-title-school {
    position: absolute; }

  .borderedBox-light {
    width: 100%; }

  .borderedBox-topImage {
    margin-bottom: -33.6275375%;
    width: 47.6610768%;
    margin-left: calc( -0.5 * 47.6610768%); }

  .index-activity-poster {
    width: 75%; }

  .index-page-control {
    display: block;
    position: absolute;
    bottom: -4.1666667vw;
    right: 0;
    overflow: hidden; }
    .index-page-control .index-page-button {
      margin-right: -4.1666667vw;
      margin-bottom: 0;
      width: 22.2222222vw;
      height: 22.2222222vw;
      line-height: 22.2222222vw;
      border: 1px solid #fff;
      border-radius: 50%;
      opacity: .2;
      color: #fff;
      font-family: 'Josefin Sans';
      font-size: 6.66vw;
      font-weight: 100; }
      .index-page-control .index-page-button.active {
        opacity: .67; }
    .index-page-control > :nth-child(n + 2) {
      margin-top: -4.1666667vw; }

  .index-bg-press {
    background-position: 350% 67%; } }
.activity-framing-x {
  margin: 0 auto;
  width: 100%; }

.activity-framing-t,
.activity-framing-y {
  padding-top: 40px; }

.activity-framing-b,
.activity-framing-y {
  padding-bottom: 3.625rem; }

.activity-indent-x {
  padding: 0 16px; }

.activityNavbar-light {
  background-color: #fff; }
  .activityNavbar-light .activity-nav-link {
    color: #241E20; }
    .activityNavbar-light .activity-nav-link:hover, .activityNavbar-light .activity-nav-link.hover, .activityNavbar-light .activity-nav-link:active, .activityNavbar-light .activity-nav-link.active, .activityNavbar-light .activity-nav-link:visited, .activityNavbar-light .activity-nav-link.visited {
      color: #241E20; }
  .activityNavbar-light .activity-nav-link-secondary {
    color: #5D5C61; }
    .activityNavbar-light .activity-nav-link-secondary:hover, .activityNavbar-light .activity-nav-link-secondary.hover, .activityNavbar-light .activity-nav-link-secondary:active, .activityNavbar-light .activity-nav-link-secondary.active, .activityNavbar-light .activity-nav-link-secondary:visited, .activityNavbar-light .activity-nav-link-secondary.visited {
      color: #5D5C61; }
  .activityNavbar-light .activity-nav-icon.white {
    display: none; }
  .activityNavbar-light .activity-nav-icon.black {
    display: block; }

.activityNavbar-dark {
  background-color: rgba(0, 0, 0, 0.25);
  background-color: #3A3536;
  background-color: #241E20;
  border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .activityNavbar-dark .activity-nav-link {
    color: #fff; }
    .activityNavbar-dark .activity-nav-link:hover, .activityNavbar-dark .activity-nav-link.hover, .activityNavbar-dark .activity-nav-link:active, .activityNavbar-dark .activity-nav-link.active, .activityNavbar-dark .activity-nav-link:visited, .activityNavbar-dark .activity-nav-link.visited {
      color: #fff; }
  .activityNavbar-dark .activity-nav-link-secondary {
    color: #EAE9ED; }
    .activityNavbar-dark .activity-nav-link-secondary:hover, .activityNavbar-dark .activity-nav-link-secondary.hover, .activityNavbar-dark .activity-nav-link-secondary:active, .activityNavbar-dark .activity-nav-link-secondary.active, .activityNavbar-dark .activity-nav-link-secondary:visited, .activityNavbar-dark .activity-nav-link-secondary.visited {
      color: #EAE9ED; }
  .activityNavbar-dark .activity-nav-link, .activityNavbar-dark .activity-nav-link-secondary {
    opacity: 0.8; }
    .activityNavbar-dark .activity-nav-link:hover, .activityNavbar-dark .activity-nav-link.hover, .activityNavbar-dark .activity-nav-link-secondary:hover, .activityNavbar-dark .activity-nav-link-secondary.hover {
      opacity: 1;
      text-shadow: 0px 0px 2em rgba(255, 255, 255, 0.25); }
  .activityNavbar-dark .activity-nav-icon.white {
    display: block; }
  .activityNavbar-dark .activity-nav-icon.black {
    display: none; }

.content .activityNavbar {
  background-color: rgba(241, 241, 241, 0.97); }

.activityNavbar, .activityBrand {
  padding: .5rem 1rem; }

.activityNavbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%; }

.activityBrand {
  position: absolute;
  top: 0;
  left: 0; }

.activityBrand > img {
  width: 3.75rem;
  height: 3.75rem;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25)); }

.activity-nav-link, .activity-nav-link-secondary {
  letter-spacing: 0.02em; }

.activity-nav-link {
  font-weight: 500; }

.activity-nav-icon {
  height: 1.25rem;
  opacity: 0.67; }
  .activity-nav-icon:hover {
    opacity: 1; }

.carousel-article {
  width: 100%; }

.article-lg .article-title {
  font-size: 2rem; }

.article-bg-deco {
  background: url(../assets/bg-deco.svg) no-repeat top 0.5rem left 0.5rem/20% auto; }
  .article-bg-deco > .article-lg {
    padding-top: 6.25%;
    padding-left: calc(.5rem + 20%);
    padding-right: 2rem;
    padding-bottom: 2rem; }

.article-white {
  color: #EAE9ED; }
  .article-white .article-title {
    color: #fff; }

.activity-h2 {
  color: #303136;
  font-size: 1.5rem;
  letter-spacing: .06em;
  font-weight: 300; }

.activity-h2-deco {
  display: inline-block;
  height: 3.5rem;
  line-height: 1;
  width: 100%;
  background: no-repeat top center;
  background-size: contain; }
  .activity-h2-deco.portfolio {
    background-image: url(../assets/h2-deco-portfolio.svg); }
  .activity-h2-deco.teachors {
    background-image: url(../assets/h2-deco-teachors.svg); }
  .activity-h2-deco.cource {
    background-image: url(../assets/h2-deco-cource.svg); }
  .activity-h2-deco.on-air {
    background-image: url(../assets/h2-deco-on-air.svg); }
  .activity-h2-deco.photos {
    background-image: url(../assets/h2-deco-photos.svg); }
  .activity-h2-deco.press {
    background-image: url(../assets/h2-deco-press.svg); }
  .activity-h2-deco.about {
    background-image: url(../assets/h2-deco-about.svg); }

.item-pill {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1;
  padding: 0.555555556em 1.111111111em;
  border-radius: 1.5em;
  border: 2px dotted #5D5C61; }

.item-pill, .item-pill > a {
  color: #5D5C61; }

.activity-grid-img {
  padding-bottom: 71.8918919%;
  background-size: cover;
  background-position: center; }
  .activity-grid-img::before, .activity-grid-img::after {
    content: '';
    position: absolute;
    left: 0;
    border-color: #fff; }

.activity-grid-title {
  color: #3A3536;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.02em; }

.activity-grid-p {
  color: #4c4c4c;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.038em; }

.pagination-round {
  display: flex; }
  .pagination-round > li {
    width: 2.75rem;
    height: 2.75rem;
    line-height: 2.75rem;
    text-align: center;
    color: #5D5C61;
    border: 1px solid #5D5C61;
    border-radius: 2.75rem;
    cursor: pointer;
    opacity: 0.2; }
    .pagination-round > li.active, .pagination-round > li:hover {
      opacity: 1; }

@media (min-width: 768px) {
  .activity-framing-x {
    max-width: 83.75rem; }

  .activity-framing-t,
  .activity-framing-y {
    padding-top: 5.625rem; }

  .activity-framing-b,
  .activity-framing-y {
    padding-bottom: 9.375rem; }

  .activity-indent-x, .activity-md-indent-x {
    padding: 0 1.875rem; }

  .activityNavbar {
    background-color: rgba(0, 0, 0, 0.25); }
    .activityNavbar .activity-nav-link {
      color: #fff; }
      .activityNavbar .activity-nav-link:hover, .activityNavbar .activity-nav-link.hover, .activityNavbar .activity-nav-link:active, .activityNavbar .activity-nav-link.active, .activityNavbar .activity-nav-link:visited, .activityNavbar .activity-nav-link.visited {
        color: #fff; }
    .activityNavbar .activity-nav-link-secondary {
      color: #EAE9ED; }
      .activityNavbar .activity-nav-link-secondary:hover, .activityNavbar .activity-nav-link-secondary.hover, .activityNavbar .activity-nav-link-secondary:active, .activityNavbar .activity-nav-link-secondary.active, .activityNavbar .activity-nav-link-secondary:visited, .activityNavbar .activity-nav-link-secondary.visited {
        color: #EAE9ED; }
    .activityNavbar .activity-nav-link, .activityNavbar .activity-nav-link-secondary {
      text-shadow: 0px 4px 15px black;
      opacity: 0.8; }
      .activityNavbar .activity-nav-link:hover, .activityNavbar .activity-nav-link.hover, .activityNavbar .activity-nav-link-secondary:hover, .activityNavbar .activity-nav-link-secondary.hover {
        opacity: 1; }

  .activityNavbar, .activityBrand {
    padding: .75rem 1rem; }

  .activityNavbar {
    padding-left: 6rem; }

  .activityBrand > img {
    width: 5rem;
    height: 5rem; }

  .activity-nav-icon {
    height: 1.5rem; }

  .carousel-article {
    position: absolute;
    bottom: 0rem;
    width: 44.6735395%; }

  .article-lg {
    min-height: 34.6875rem; }

  .article-bg-deco {
    color: #EAE9ED;
    background: url(../assets/bg-deco.svg) no-repeat top center/contain; }
    .article-bg-deco .article-title {
      color: #fff; }
    .article-bg-deco > .article-lg {
      padding-top: 30%;
      padding-left: 19.2307692%;
      padding-right: 19.2307692%;
      padding-bottom: 2rem; }

  .activity-h2 {
    font-size: 1.875rem; }

  .activity-h2-deco {
    margin-right: 1.2rem;
    background-position: top left;
    background-size: auto; }
    .activity-h2-deco.portfolio {
      width: 27.25rem; }
    .activity-h2-deco.teachors {
      width: 25.375rem; }
    .activity-h2-deco.cource {
      width: 20rem; }
    .activity-h2-deco.on-air {
      width: 17.9375rem; }
    .activity-h2-deco.photos {
      width: 19.9375rem; }
    .activity-h2-deco.press {
      width: 15.4375rem; }
    .activity-h2-deco.about {
      width: 16.875rem; }

  .activitySection-imageArticle .activity-h2 {
    position: absolute;
    top: 4.375rem;
    right: 0; }
  .activitySection-imageArticle .pagination-round {
    position: absolute;
    right: 0;
    bottom: 3.25rem; } }
.about-kv {
  position: relative; }
  .about-kv > figcaption {
    position: absolute;
    top: 100%;
    right: 0;
    margin: -5% 10% 0;
    width: 80%;
    height: 80%;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05); }

.about-kv-logo {
  width: 60px; }

@media (min-width: 768px) {
  .about-kv > figcaption {
    position: absolute;
    top: 0;
    margin: 0;
    margin-top: 3.8%;
    right: -6.2%;
    width: 21.5254237%;
    height: 80%;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05); }

  .about-kv-logo {
    width: 100px; } }

/*# sourceMappingURL=app.css.map */
