@media (min-width: 768px) {
  html {
    font-size: 16px; }

  .indexBrand > img {
    width: 5.625rem; }

  .indexNavbar.navbar {
    padding-left: 0;
    padding-right: 0; }

  .indexNavbar .navbar-collapse {
    display: block !important;
    width: 100%; }

  .sidebar, .indexNavbar {
    position: fixed;
    z-index: 99999;
    top: 0;
    bottom: 0;
    width: 88px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 0; }

  .sidebar, .indexNavbar {
    flex-direction: column;
    padding-top: 8.125rem; }
    .sidebar > .indexBrand, .indexNavbar > .indexBrand {
      position: fixed;
      top: 1.25rem;
      left: 2.625rem; }

  .sidebarMenu, .indexNavbarMenu {
    padding-bottom: 1rem;
    height: 100%;
    overflow-y: auto; }

  .sidebarMenuItem > a, .indexNavbarMenuItem > a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.25rem;
    width: 1.25rem; }

  .sidebarMenuItem > a, .indexNavbarMenuItem > a {
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: auto;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7); }
    .sidebarMenuItem > a:hover, .indexNavbarMenuItem > a:hover {
      color: white; }

  .sidebarMenuItem, .indexNavbarMenuItem {
    position: relative; }
    .sidebarMenuItem > a::after, .indexNavbarMenuItem > a::after {
      content: '';
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: calc(100% - 3px);
      width: 5px;
      background-color: white;
      transition: top .3s, bottom .3s;
      transition-timing-function: ease-out; }
    .sidebarMenuItem > a:hover::after, .indexNavbarMenuItem > a:hover::after {
      top: -1rem;
      bottom: -1rem; }

  .margin-md-left-sidebar {
    margin-left: 5.5rem; }

  .index-margin-left {
    margin-left: 9.5rem; }

  .index-fixed-bg {
    padding-top: 100vh;
    height: 100vh;
    background-size: cover;
    overflow: auto; }

  .bg-slogan1 {
    background-position: top 18vh left 12.8472222vw, top center;
    background-size: auto, cover; }

  .bg-slogan2 {
    background-size: auto, cover; }

  .index-content-overlap {
    position: relative;
    top: -5.625rem;
    margin-bottom: -5.625rem; }

  .list-bubble-item:first-of-type {
    margin-top: 2.0833333vw;
    width: 8.3333333vw;
    height: 8.3333333vw; }
  .list-bubble-item:nth-of-type(2) {
    margin-top: 7.2916667vw;
    margin-left: 6.9444444vw;
    width: 13.8888889vw;
    height: 13.8888889vw;
    z-index: 20; }
  .list-bubble-item:nth-of-type(3) {
    margin-left: -2.2222222vw;
    width: 17.3611111vw;
    height: 17.3611111vw; }
  .list-bubble-item:nth-of-type(4) {
    margin-top: 11.5277778vw;
    margin-left: 2.6388889vw;
    width: 8.3333333vw;
    height: 8.3333333vw; }
  .list-bubble-item:nth-of-type(5) {
    margin-top: 3.9583333vw;
    margin-left: 8.125vw;
    width: 12.5vw;
    height: 12.5vw; }

  .footer-body {
    padding: 9.375rem 0 2rem; }

  .bgAnimation, .bgAnimation.bg-slogan1 {
    background-position: top 18vh left 12.8472222vw, top left;
    background-size: auto, 100% auto; }
    .bgAnimation.start, .bgAnimation.bg-slogan1.start {
      background-size: auto, 110% auto;
      transition: background-size 8s;
      transition-timing-function: linear; }
    .bgAnimation.bg-slogan2, .bgAnimation.bg-slogan1.bg-slogan2 {
      background-position: top 23.125vw left 12.9166667vw, top left;
      background-size: auto, 110% auto; }
      .bgAnimation.bg-slogan2.start, .bgAnimation.bg-slogan1.bg-slogan2.start {
        background-size: auto, 100% auto; } }

/*# sourceMappingURL=app_md.css.map */
